[2016-10-27 01:02] samcv commented on #2496
I just made a pull request ( adambard/learnxinyminutes-site#38 ) which fixes this issue and also fixes all the other sites mentioned in adambard/learnxinyminutes-site#36 that are broken 👍

[2016-10-27 01:04] samcv commented on #2386
Which page are they missing in?  Thanks.

[2016-10-27 08:14] vendethiel commented on #2496
Going to close this one in the meantime, thanks!

[2016-10-27 08:14] #2496 closed

[2016-10-27 08:17] #1057 closed

[2016-10-27 08:17] vendethiel commented on #1057
@samcv 👍

[2016-10-27 18:39] #2435 closed

[2016-10-27 18:39] #2464 closed

[2016-10-30 13:50] peterszatmary opened #2536 "elixir/sk is a 404 not found"
My pull request ( [#2466](https://github.com/adambard/learnxinyminutes-docs/pull/2466) ) was merged a few days ago. But pages [https://learnxinyminutes.com/docs/sk-sk/elixir/](https://learnxinyminutes.com/docs/sk-sk/elixir/) doesnt work properly. 404 not found. If is there something that i did wrong please let me know. I will fix it. Thanks in advance.

[2016-10-30 23:35] vendethiel commented on #2536
This one time's not my fault! Should be fixed now :-).

[2016-11-01 09:48] robochat commented on #2303
#2552

[2016-11-04 06:23] kmaelane opened #2555 "I want check for data on source for a minute or 55 seconds"
I want check for data on source for a minute or 55 seconds. My problem is I don't know the timeout intervals for this IOHandler Routine (function TIdIOHandler.CheckForDataOnSource(ATimeout: Integer = 0): Boolean;).

Here is my code below

socClient.Socket.RecvBufferSize := 1024;
socClient.Socket.CheckForDataOnSource(**1000**);

[2016-11-04 06:48] vendethiel commented on #2555
Please use StackOverflow for programming-related questions.

[2016-11-04 06:48] #2555 closed

[2016-11-05 10:25] peterszatmary commented on #2536
Still not working. See please [https://learnxinyminutes.com/docs/sk-sk/elixir/](https://learnxinyminutes.com/docs/sk-sk/elixir/)

[2016-11-06 01:40] tomjakubowski opened #2558 "[yaml/en] Not necessary to quote '1' to be interpreted as a number."
Near the top of the [YAML page](https://learnxinyminutes.com/docs/yaml/):

[code]

However, the YAML 1.2 spec doesn't suggest this interpretation at all: http://www.yaml.org/spec/1.2/spec.html#id2803629

The YAML online parser (which uses pyyaml), [interprets `1` as an integer](https://yaml-online-parser.appspot.com/?yaml=1&type=canonical_yaml):

[code]

As far as I can tell, it's not possible to

[2016-11-06 09:07] vendethiel commented on #2558
Thanks - nice catch! Woul you mind sending a pull request to fix it? :)

[2016-11-10 09:02] samcv commented on #2303
Should be fixed by #2552.  Thanks! Reopen if there's still issues.

[2016-11-10 09:02] #2303 closed

[2016-11-10 10:09] samcv commented on #2329
Older ticket but I just checked and the site's cert is currently valid... although it expires in about 24 hours.
@adambard can you make sure it gets reissued?

[2016-11-11 21:23] daleathan commented on #2329
![2016-11-12 08_21_58-insecure connection](https://cloud.githubusercontent.com/assets/1161914/20230667/307b1f48-a8b1-11e6-8069-867d4147d89e.png)

[2016-11-11 21:26] samcv commented on #2329
Sent an email to Adam, hopefully this can be fixed soon.

[2016-11-11 21:34] #2558 closed

[2016-11-11 21:39] samcv commented on #2326
I think this would be a great idea. Would you be interested in writing one? 🌠

[2016-11-11 22:47] samcv commented on #2536
Fixed by adambard/learnxinyminutes-site#36 . Site's SSL cert is out of date atm but the page is generating fine now.

[2016-11-11 22:47] #2536 closed

[2016-11-11 23:37] adambard commented on #2329
Fixed for now, see y'all in 90 days!

[2016-11-12 17:33] samcv commented on #2386
@1manfactory Can you provide more clarification? Not sure which language you mean, the footnotes on the English markdown page look fine.

[2016-11-14 01:26] JoaoGFarias commented on #2326
Sure thing @samcv.
As soon as I have a scratch, I will send a PR (with WIP notice) to get feedback.

[2016-11-15 02:54] lewtds opened #2569 "[tcl/en] Broken TCL syntax highlight"
Might be related to #1214

![screenshot at 2016-11-15 04-53-20](https://cloud.githubusercontent.com/assets/1055960/20291523/9046943a-aaef-11e6-8aa3-541c81eda5a6.png)

[2016-11-15 03:26] samcv commented on #2569
Hmm it seems to be caused by this line:
`# command, use the expansion operator, "{*}".`

I have a branch that uses Pygments instead of Rouge (what the site currently uses). It may be possible we could switch over because it could get us syntax highlighting for many more languages if @adambard thinks it's a good idea. I will check if it works in Pygments and report back.

[2016-11-15 03:27] adambard commented on #2569
I am not opposed, so long as everything works

On Mon, Nov 14, 2016, 7:26 PM samcv <notifications@github.com> wrote:

[2016-11-15 03:51] samcv commented on #2569
Cool. There shouldn't be any issues, but when I have time I will make make sure all things are in order.

@lewtds with Pygments it works except it fails when getting to this crazy line:

![screenshot_20161114_194908](https://cloud.githubusercontent.com/assets/20145557/20292590/a800411c-aaa3-11e6-8748-27fb97c8338d.png)

[2016-11-15 05:41] lewtds commented on #2569
Github's internal highlighter works fine for both locations.
https://github.com/adambard/learnxinyminutes-docs/blob/master/tcl.html.markdown

![screenshot at 2016-11-15 07-39-55](https://cloud.githubusercontent.com/assets/1055960/20294444/e568656c-ab06-11e6-91c2-da0a30cd9491.png)

![screenshot at 2016-11-15 07-40-43](https://cloud.githubusercontent.com/assets/1055960/20294459/ef8c4324-ab06-11e6-80

[2016-11-16 12:54] JoaoGFarias commented on #621
This section was already merged: https://learnxinyminutes.com/docs/html/
This issue can be closed

[2016-11-16 12:57] JoaoGFarias opened #2573 "[RUS/HTML] HTML Russian translation is appearing as a new section in the main page"
The russian translation for HTML is appearing in the site's main page as a different section.

![learn x in y minutes scenic programming language tours - mozilla firefox](https://cloud.githubusercontent.com/assets/1585655/20348193/0b1807c2-abe3-11e6-880c-d3fd707a9773.jpg)

[2016-11-16 13:05] JoaoGFarias commented on #2316
I have two considerations for it:

1 - Libraries docs usually are more hands-on than programming language docs. Maybe pages in LYIYM would just be copy-filter_sections-paste from that. Not necessary, therefore.

2 - I think that putting all libraries in the main page would be impractical.
A link with 'npm libraries' (Or 'JS libraries'), 'pip libraries' (Or 'Python libraries') with the links for th

[2016-11-16 13:33] #621 closed

[2016-11-16 23:21] #2573 closed

[2016-11-16 23:21] samcv commented on #2573
Thanks for reporting this!

[2016-11-16 23:34] #2569 closed

[2016-11-18 01:06] uxcq opened #2574 "Fix spelling error in new issue text requets > requests"
_requets_ should be **requests**

[2016-11-18 06:32] #2574 closed

[2016-11-18 06:32] samcv commented on #2574
Thanks!

[2016-11-20 23:03] phoe opened #2577 "[language/common-lisp] UNBOUND-VARIABLE"
[code]

http://www.lispworks.com/documentation/HyperSpec/Body/e_unbo_1.htm
AFAIK, attempting to read an unbound variable results in `UNBOUND-VARIABLE` error being signaled. So it's defined.

Can anyone confirm this?

[2016-11-20 23:05] phoe opened #2578 "[language/common-lisp] Default MAKE-ARRAY value"
[code]

This value is implementation-defined: 0 on SBCL, but NIL on SBCL.

[2016-11-21 09:38] vendethiel commented on #2577
You're right, [it doesn't seem to be UB](https://www.hexstreamsoft.com/articles/notes-tips-standard-common-lisp-symbols/themes/unspecified-behavior/). Would you mind sending a Pull Request to correct this? :)

[2016-11-21 10:23] vendethiel commented on #2578
Even worse, it seems:

(PS: you probably want one of those "SBCL" to be "CCL" or some other)

[2016-11-21 16:14] phoe commented on #2577
Yes, I'll do a PR soon.

[2016-11-21 16:16] phoe commented on #2578
Yes, undefined by the standard - that's why implementations are almost always defining this behaviour, because if you call `(make-array 1000)` in REPL, what do you get in return? A printed representation of that array. What does it consist of? Instances of later reading of uninitialized elements of new-array. Woo, `CL-USER> (make-array 1000)` in REPL is undefined behaviour!

Uh, right. NIL on ECL,

[2016-11-24 05:31] gr33ntea opened #2583 "the [1..5] example no longer works in 0.18"
-- The second example can also be written with two dots.
[1..5]
Yes this code no longer works in version 0.18. I believe you can do the following to achieve similar effects
List.range 1 5

[2016-11-24 05:33] samcv commented on #2583
@gr33ntea did you read the text you just submitted? You are supposed to actually tell us which language and programming language this is referring to. Please update your post with the correct details. Thanks.

[2016-11-24 05:47] samcv commented on #2583
@gr33ntea What programming language is this referring to? Even a link to the page would be more useful. Thank you for adding more description about the problem with it, but I still don't know what page the issue is on.

[2016-11-24 20:17] gr33ntea commented on #2583
Sorry I didn't know you had more than one programming language you worked
on. I simply clicked the link at the bottom of one of your aticles. I
believed the article was called learn x in y and x = elm. The programming
language is Elm.

On Thu, Nov 24, 2016 at 12:47 AM, Samantha McVey <notifications@github.com>
wrote:

[2016-11-24 20:19] gr33ntea commented on #2583
Oh here's the link if you need it: https://learnxinyminutes.com/docs/elm/

On Thu, Nov 24, 2016 at 12:47 AM, Samantha McVey <notifications@github.com>
wrote:

[2016-11-25 01:11] gr33ntea commented on #2583
There's only 1page? Can't you ctrl + f what I wrote as the title after going to the link given?
Sent from my iPhone

[2016-11-25 06:54] #2583 closed

[2016-11-29 15:43] anilkris opened #2584 "[1.. 5] does not work in 0.18"
Hi,

I liked your beginner tutorial on elm.  A small correction, I have observed.

From version 0.18,  the List need to be given as below
List.range 1 5

Please correct this, so that it would be relevant for the latest version.

Thanks,

[2016-11-29 15:51] vendethiel commented on #2584
Thanks, nice catch! Would you mind sending a pull request to fix this? :-)

[2016-11-29 16:42] anilkris commented on #2584
Hi,

I have created a pull request, with the correction.  Please, let me know,  if that was ok, or if  I missed any steps in the process.

Regards,

[2016-12-01 14:15] josh-perry opened #2589 "[language/lang-code] Broken link under references"
[vbbootcamp.co.uk](http://vbbootcamp.co.uk) doesn't seem to exist anymore.

[2016-12-01 14:18] vendethiel commented on #2589
Did nothing seem off to you when you posted the issue? :|

I can guess it's VB / english thanks to the link, but please read the issue title before submitting.

The commit introducing that was one of @adambard's (back in 2013): 4ecd73fc9cd766557e10fc2fa0c3351c373ff1a0 – so I actually have no idea what's it's from.

Anyway, it's removed, thanks.

[2016-12-01 14:19] #2589 closed

[2016-12-01 14:20] josh-perry commented on #2589
Oh, my bad, sorry. I thought I'd changed that.

[2016-12-01 14:33] vendethiel commented on #2589
No worries! It still had more than enough context since you quoted the text :). Thanks!

[2016-12-06 17:05] JulienFONTANA opened #2593 "[JavaScript] Small comment mistake in french"
This line in incorrect in french (maybe in other languages too):
someVar *= 10; // de même, someVar = someVar * 100;
It should be:
someVar *= 10; // de même, someVar = someVar * **10**;

[2016-12-06 17:09] vendethiel commented on #2593
Nice catch, thanks! Would you mind sending a pull request to fix it? :)

[2016-12-06 20:26] aloisdg commented on #2593
@JulienFONTANA Nice! Could you submit a quick [PR](https://help.github.com/articles/about-pull-requests/) now? 👍

[2016-12-11 20:51] arzeth opened #2594 "[elixir/en] Clarification needed"
[code]
I spent 5 minutes thinking why the second ```sum_list``` doesn't redefine the first ```sum_list``` if the first argument in both functions is a list, because I thought that pattern matching in Elixir is just a syntactic sugar as in JS (ES6).

I think there should be a comment like:
```This function is invoked only when the first argument is an empty list```
But I don't know whether I correc

[2016-12-13 01:27] vendethiel commented on #2594
It should probably be explained around `defmodule Geometry`.

[2016-12-14 02:24] #2593 closed

[2016-12-21 02:03] cchase88 opened #2603 "[language/nim] Multiline comments"
As of 0.13, Nim supports multi-line comments using the #[ ... ]# syntax. Ex:

[code]

[2016-12-21 06:25] samcv commented on #1140
Looks like this was merged over a year ago but the issue wasn't closed. Closing now.

[2016-12-21 06:25] #1140 closed

[2016-12-22 21:20] vendethiel commented on #2603
Thanks for the heads up! Are you interested in submitting a PR to add this?

[2016-12-22 21:48] cchase88 commented on #2603
Hi Adam, I am interested in submitting pull requests.

Thanks,
Chris

On Dec 22, 2016 4:20 PM, "ven" <notifications@github.com> wrote:

[2016-12-27 12:06] #2584 closed

[2016-12-28 19:52] eksperimental opened #2611 "80 characters won't fit sometimes one line in the html output"
instead of using 1em, if you use 0.99em, that change will make the lines fit in.
for example, in the Erlang page.

will have the last word "of" in a new line.

[2016-12-31 23:25] Grinnz commented on #2209
If an HTTP user agent was to be mentioned, it should be HTTP::Tiny as this is a core module and better practice than LWP::Simple (allows error checking and options).

[2016-12-31 23:41] #2209 closed

[2017-01-02 12:24] cmosjay opened #2617 "[Request] [language/nasm]"
Request for a tutorial on NASM. I am going to be learning it elsewhere for now, so if it is not available by then I will attempt to help.

[2017-01-04 08:38] mulderns opened #2621 "[objective-c/en]"
It would help if the [ ] notation and '@' notation were explained before using them in the code.

[2017-01-05 02:10] timrowledge opened #2622 "[Smalltalk] Missing explanation of the language semantics etc"
The Smalltalk page is a pretty good listing of the basic language syntax and some examples of usage but
a) the title really ought to be X=Smalltalk, not X=smalltalk
b) some explanation that everything is an object and that all one can do is send messages and get back the return values would be helpful near the very beginning.
c) wrt Blocks section -Squeak *does* allow block local vars and certainl

[2017-01-11 08:10] kozorezv opened #2625 "Tiny typo"
Make sure the issue title is prepended with '[language/lang-code]' if the language is
already on the site.
If it's a request for a new language, use: '[Request] [language/lang-code]'

Issues are always welcome. If you are able and willing, we welcome any pull requests
as this is a community powered project.

[2017-01-11 08:10] #2625 closed

[2017-01-13 17:32] sidgupta234 commented on #2603
What is the status on this one?

[2017-01-13 17:43] sidgupta234 commented on #2316
Even I feel like this is a really cool idea.
Pro - It would provide a more constrained scope to the community to explain the intricacies.
Con - Beating the official library manuals would be a task.

[2017-01-27 21:53] adius opened #2635 "[swift/en] The learning.swift file is in wrong language"
On the english version the download leads to the turkish file (or some other language with a lot of ü 😛)

[2017-01-28 09:22] #2635 closed

[2017-01-28 09:22] vendethiel commented on #2635
thanks!

[2017-01-31 13:36] mfricke1947 opened #2642 "Small slip in example?"
[code]
-----------------------

Shouldn't the constructor have the same name as the contract?

[2017-01-31 13:36] vendethiel commented on #2642
which language is that?

[2017-01-31 13:37] mfricke1947 commented on #2642
Sorry, this is from the Solidity notes

[2017-01-31 13:37] vendethiel commented on #2642
@miguelmota @nemild ?

[2017-01-31 13:38] vendethiel commented on #2642
@mfricke1947 BTW, I edited your comment to add triple backticks around the code block.

[2017-02-01 02:45] nemild commented on #2642
@vendethiel  Yes, they should be the same. That was a mistake I made. @mfricke1947 thanks for pointing out.

There have been a ton of changes in Solidity, so this doc also needs a reworking at some point.

[2017-02-01 03:44] mfricke1947 commented on #2642
No worries. I’m happy to help (even in this ever-so-minor way).

All the best,

Yours,

Martin

On Jan 31, 2017, at 7:45 PM, Nemil Dalal <notifications@github.com<mailto:notifications@github.com>> wrote:

@vendethiel<https://github.com/vendethiel> Yes, they should be the same. That was a mistake I made. @mfricke1947<https://github.com/mfricke1947> thanks for pointing out.

There have been a ton of

[2017-02-01 08:58] vendethiel commented on #2642
@nemild okay, thanks for the precision. I'll be here if you want to send a PR to update the docs ;-)

[2017-02-01 14:50] pubudu91 opened #2643 "[Request][language/awk]"
Will it be possible to add a page for Awk? Awk is pretty useful when trying to process large text files efficiently and it would be great to have a quick reference for it

[2017-02-02 07:24] abelsromero opened #2644 "[asciidoc/en]"
Consider adding implementations reference for `asciidoctor` (http://asciidoctor.org/).
The current page offers a good intro into the language but does not offer any guide to users wanting to test it out.

Right now there are two options:
· AsciiDoc: original python lib. Not sure about it's current state. Github seems active (https://github.com/asciidoc/asciidoc), but the site does not list a relea

[2017-02-06 05:59] kapitaali opened #2646 "Tutorial not working on"
My Rakudo version is:

I assume that the .p6 file is executable just by typing `perl6 learnperl6.p6`

I try to run the X in Y minutes Perl6 module. The following errors are given:

[code]

What's up?

[2017-02-06 09:46] LoudDavion opened #2647 "[c++/en] Shouldn't be defining variables in h files"
h files are for declarations.

Why not teach the extern keyword and have people define the variables inside a cpp file instead.

[2017-02-06 10:02] vendethiel commented on #2646
It's not meant to be run.

[2017-02-06 10:02] #2646 closed

[2017-02-06 10:34] vendethiel commented on #2647
what are you talking about?

[2017-02-06 10:58] LoudDavion commented on #2647
When the guide talks about classes, it says that they are generally done inside h files.
`// Classes are usually declared in header (.h or .hpp) files.`

It then declares a variable and several function inside the class.

Then it proceeds to define the functions and it says
`// Class member functions are usually implemented in .cpp files.`

But you don't say that about variables. Why would you tea

[2017-02-06 11:18] #2647 closed

[2017-02-06 11:19] vendethiel commented on #2647
Please don't post issues for trolling purposes

[2017-02-06 11:45] LoudDavion commented on #2647
I don't understand how this is trolling friend.
Do you have any actual arguments for why you don't want to teach the `extern`

[2017-02-06 14:59] vendethiel commented on #2647
there's no reason to use it, especially here. the only variables are instance/class variables.

[2017-02-07 23:55] sbdchd commented on #2643
I highly recommend checking out the `man` page for awk. It is quite concise and thorough.

[2017-02-09 20:17] nemild commented on #2642
Done, submitted in [this pull request](https://github.com/adambard/learnxinyminutes-docs/pull/2650).

[2017-02-17 09:06] Dorian opened #2665 "Are React, React Native and Flow out of scope?"
I love learnxinyminutes and I'm just wondering if those examples are in scope for inclusion?

[2017-02-17 10:53] vendethiel commented on #2665
I'd say so, yes. We aren't gonna beat the documentation for those libraries.

The only exceptions would be for documentations that thoroughly lack examples, I guess...

[2017-02-17 10:53] #2665 closed

[2017-02-17 14:11] kiru opened #2668 "Show line number"
Is it possible to show line number in the code snippets.

The code examples are usually quite long  and it is hard to make a referece to an actual section.

[2017-02-17 18:26] Dorian commented on #2665
@vendethiel Hmm I understand, I will try it on my own domain and see if there is a need for it (loving the learnxinyminutes format), then ideally merge it back here, but right, docs for those are actually already pretty good.

[2017-02-24 12:16] sunqingyao opened #2672 "[Python3/zh-cn] Chinese translation isn't precise"
[code]

This part should be changed to

[code]

[2017-02-24 14:00] vendethiel commented on #2672
Feel free to submit a PR :).

[2017-02-24 23:51] OPEOP opened #2673 "[go/en] Def description (before or after)"
[code]

But:
A defer statement pushes a function call onto a list. The list of saved calls is executed **AFTER** the surrounding function returns. [(Official site)](https://blog.golang.org/defer-panic-and-recover)

And it is't only in [en]...

[2017-02-25 09:54] vendethiel commented on #2673
I think both mean the same, don't they? Is something inbetween?

[2017-02-27 14:11] OPEOP commented on #2673
Uh no. If the list of deferred function calls is executed after function return and you say that deferred statement is called before function return, how can these mean the same?

[2017-02-27 14:46] vendethiel commented on #2673
What is the difference?

[2017-02-27 16:28] OPEOP commented on #2673
Ok, I show you))

Here is the code: https://play.golang.org/p/01iLGAg9Hq

In your meaning, result of function 'do' must be 0 (_because def must run before_), but(!) how you can see result did't change. Because def function run **AFTER** the function returns.

[2017-02-27 18:23] vendethiel commented on #2673
"Before the function returns" doesn't mean before return's operand is evaluated.

[2017-02-27 18:24] vendethiel commented on #2673
I guess we should follow the doc's wordings nonetheless.

[2017-02-28 15:35] andrewlee116 opened #2677 "[Python3/English] Mistake in static method"
` # A static method is called without a class or instance reference
@staticmethod`

[code]

Though Human.grunt() is correct and would print out "*grunt*", I believe that i.grunt() should raise an error because that line would put itself as an argument (self) when a static method should have no argument. So only Human.grunt() should be possible.

[2017-02-28 15:38] vendethiel commented on #2677
yup, that's an error, nice catch! Would you mind sending a PR to fix it?

[2017-02-28 15:39] andrewlee116 commented on #2677
yup

[2017-02-28 16:11] #2677 closed

[2017-03-02 11:16] Flimm opened #2680 "[en/rst] Add acronym RST to front page"
I went to learnxinyminutes.com, hoping to find RST. I pressed Ctrl-F and looked for "RST", but could not find it. I did not realise I should have looked for "restructuredtext" instead.

Is there any way we can make the link on the home page include the acronym? Like this:

- [restructured text (RST)](https://learnxinyminutes.com/docs/rst/)

[2017-03-02 11:22] #2680 closed

[2017-03-02 11:30] Flimm commented on #2680
Thanks, you're a star!

[2017-03-14 13:16] oryband opened #2681 "[Request] [protobuf/en]"
Please add support for the Protobuf spec. I guess we can just copy the examples from [Google Developer Docs](https://developers.google.com/protocol-buffers/docs/proto).

[2017-03-14 13:34] vendethiel commented on #2681
Copying examples from the docs doesn't sound very useful.

[2017-03-15 09:16] vendethiel commented on #2642
#2650

[2017-03-15 09:16] #2642 closed

[2017-03-17 14:04] ankitch opened #2683 "error in learnxml.xml file [xml/all]"
XML Parsing Error
There is an error in the learnxml.xml file there are multiple declarations of xml in the same file. Same error for all the translations.

[2017-03-17 14:09] vendethiel commented on #2683
Yup, that's on purpose. Each different code block, if identified as a document, should work, however.

[2017-03-17 14:09] #2683 closed

[2017-03-17 14:25] ankitch commented on #2683
https://learnxinyminutes.com/docs/files/learnxml.xml

[2017-03-18 10:48] SerSanGal opened #2684 "[bash/es] Some errors"
Starting in line 61:
`If [ $ NAME -ne $ USER ]
Then
     Echo "Your name is your user."
Else
     Echo "Your name is not your user."
Fi `

The -ne is for non-equal. In this example -ne should be changed by -eq since if this expression returns true echo will return "Your name is your user".
But it's still incorrect since -ne or -eq expect to compare integers not strings, so I think this expression:

[2017-03-18 12:13] vendethiel commented on #2684
Hi ;

would you have some time to submit a PR to fix those ? And maybe add the missing parts to the -es document - they're not being kept up-to-date :).

[2017-03-18 12:16] SerSanGal commented on #2684
I'm working on it

[2017-03-20 15:32] krisajenkins opened #2685 "[purescript/en] `++` has been removed in favour of `<>`."
https://github.com/purescript/purescript/wiki/Differences-from-Haskell

...says:

So:

[code]

...should read:

[code]

[2017-03-20 15:33] vendethiel commented on #2685
Thanks for the update. Would you mind sending a PR to fix it? :)

[2017-03-20 15:55] krisajenkins commented on #2685
Sure - done: https://github.com/adambard/learnxinyminutes-docs/pull/2686

[2017-03-20 15:55] #2685 closed

[2017-03-24 15:43] pablonajt opened #2688 "[kotlin/all] Small typo in variable fooMutableDate"
Looks like variable `fooMutableDate` should be called `fooMutableData` instead (possibly a typo)

ie:
[code]

should probably be

[code]

[2017-03-24 17:53] #2688 closed

[2017-03-27 21:15] #2684 closed

[2017-03-31 16:28] cfaddict opened #2692 "[Groovy] Additional Resources"
I teach a course called "The Complete Apache Groovy Developer Course". This course is linked to within the main Groovy website and I would like to add a new section. The new section courses would simply have a link to the course. Is this ok?

![image](https://cloud.githubusercontent.com/assets/349507/24559653/7b03d7ca-160d-11e7-83dd-3513154a2dda.png)

[2017-03-31 18:09] VadimToptunov opened #2693 "[PyQt/ru] New translation"
Created a new translation for PyQt in Russian. Please, review.

[pyqt-ru.txt](https://github.com/adambard/learnxinyminutes-docs/files/886547/pyqt-ru.txt)

[2017-04-01 16:02] vendethiel commented on #2693
Could you send a github pull request please?

[2017-04-01 16:03] vendethiel commented on #2692
We try to avoid paid resources. I guess books are an exception.

[2017-04-01 16:03] #2692 closed

[2017-04-05 08:48] VadimToptunov commented on #2693
Done!

[2017-04-05 08:48] #2693 closed

[2017-04-07 00:00] AlinaWithAFace commented on #400
+`

[2017-04-07 16:27] antimatter96 opened #2700 "[GO] Change count of elements wherever ellipsis is used"
So this is a really dumb request but while reading I thought that `...` (ellipsis) represented the size of the array in Line 2 below.
Given how there are three dots as well as three elements it would be better if we change the size so that confusion is avoided.
Not everyone knows what ellipsis are 😢

[code]

PROPOSED CAHNGES

[code]

[2017-04-11 01:36] dilijev opened #2702 "[typescript/en] Include examples involving readonly"
See:
https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript#read-only-properties-and-index-signatures
https://github.com/Microsoft/TypeScript/pull/6532 (PR)
https://github.com/Microsoft/TypeScript/issues/12 (feature request)

[2017-04-12 20:49] adambard commented on #2700
Good change! Just to check, `a3 := [...]int{3, 1, 5, 7}` creates an array with a size of four, correct?

[2017-04-12 21:32] antimatter96 commented on #2700
Yes. Count of dots do not matter.
I am guessing the same issue might be in multiple languages

[2017-04-15 09:28] martin-uda opened #2707 "[javascript/cs] some recommendation in czech language"
Hello,
first of all: email martinek@ludis.me   doesn't work.
// the rest is in czech lang.

Dobry den,
mel bych par navrhu jak upravit https://learnxinyminutes.com/docs/cs-cz/javascript/
original  je predpokladam zde: https://learnxinyminutes.com/docs/javascript/

1)
// Vyrazu můžou být spuštěny pomocí ;
delejNeco();

original:
// Statements can be terminated by ;
doStuff();

navrh:
// Příkazy moh

[2017-04-15 13:06] vendethiel commented on #2707
Hi,

feel free to send a pull request to fix those

[2017-04-24 17:17] dilijev opened #2711 "[rust/en] Include examples about functions and methods with lifetimes."
See https://doc.rust-lang.org/book/lifetimes.html

[2017-04-27 15:22] stevechae opened #2714 "[racket/en] Incorrect name of mutable struct in setting and accessing examples."
In the current document, examples of setting and accessing a mutable struct called `rgba-color` are:
[code]
This is incorrect and should be:
[code]

[2017-04-27 15:27] vendethiel commented on #2714
Would you mind sending a PR to fix it?

[2017-04-27 15:29] stevechae commented on #2714
@vendethiel sure, I'm at work now but I will submit a PR in a few hours.

[2017-04-27 16:21] #2714 closed

[2017-05-11 16:22] hpincket opened #2724 "[Scala] Exampe for 'return' in anonymous function doesn't demonstrate the warned behavior"
[code]
The above example is from the current version. `foo(6)` evaluates to 6 which looks as if the anonymous function returns 6 to foo and then foo returns 6. The difference shows itself when we change the code:
[code]

The addition of a '+1' to the last line of foo() separates these two cases. If `return z` returns from the anonFunc then foo(6) will be 7. If `return z` returns from foo then foo(

[2017-05-15 07:45] vendethiel commented on #2724
True, we should use an example like yours which demonstrates the difference. Would you mind sending a PR?

[2017-05-18 11:33] aloisdg opened #2727 "[F#/fr] F# duplicate in learnxinyminutes.com"
Hello,

There is a duplicate of F# cause be the F#/fr being outside of the F# group. Go to [learnxinyminutes.com](https://learnxinyminutes.com/) and ctrl+f "F#". You should see:

![lxiym](https://cloud.githubusercontent.com/assets/3449303/26200472/91aaa08a-3bce-11e7-8b9e-4934c55849f9.PNG)

instead of:

![lxiym2](https://cloud.githubusercontent.com/assets/3449303/26200532/d424b2f2-3bce-11e7-9eb7-f1

[2017-05-18 11:59] #2727 closed

[2017-05-18 23:05] BloodShura opened #2729 "[Kotlin] Remove whitespace in variable declaration with explicit type"
In [Kotlin section](https://learnxinyminutes.com/docs/kotlin/), at the start of the _main_ function, there is a line containing `val foo : Int = 7`.

Generally, as seen also in the [docs](https://kotlinlang.org/docs/reference/properties.html), the whitespace before the colon should be omitted. Actually, whitespace before colon is used when declaring the superclasses of a class, e.g. `class Child :

[2017-05-19 00:26] artur-pub opened #2730 "[C/C] correction on printf"
https://learnxinyminutes.com/docs/c/, these lines are wrong:

    printf("%f\n", (float)100); // %f formats a float
    printf("%lf\n", (double)100); // %lf formats a double

Yes, `%f` formats a float, but that float is actually extended to double because of varargs type promotion before the call (printf(fmt, ...) arguments after fmt are varargs). Printf function never sees floats (nor chars, nor

[2017-05-19 06:08] vendethiel commented on #2729
We totally should follow the official style. Would you mind sending a PR?

[2017-05-19 22:07] BloodShura commented on #2729
Since the PR has been merged, I'll close it ^-^

[2017-05-19 22:07] #2729 closed

[2017-05-23 09:44] bokmcdok opened #2735 "[language/groovy] Doesn't mention how to install on Windows."
Make sure the issue title is prepended with '[language/lang-code]' if the language is
already on the site.
If it's a request for a new language, use: '[Request] [language/lang-code]'

Issues are always welcome. If you are able and willing, we welcome any pull requests
as this is a community powered project.

[2017-05-23 09:58] vendethiel commented on #2735
That's correct, this is usually not mentioned. Feel free to PR.

[2017-05-23 09:58] #2735 closed

[2017-05-23 14:20] vendethiel commented on #2730
Ah, that's not an easy one. I still feel like we should mention it, even if varargs are not (yet) explained

[2017-05-23 15:36] jimlast opened #2736 "[css/en-us] English CSS doc starts in Spanish?"
The first few paragraphs and comments on the CSS doc page are in Spanish.  English starts again after a few lines into the code examples block.  Perhaps the Middleman script has a bug?

Thanks,
Jim

[2017-05-23 15:44] vendethiel commented on #2736
Looks like I messed up big time...

[2017-05-23 15:45] #2736 closed

[2017-05-23 18:42] ian-bertolacci commented on #2730
I'll be honest, I don't know of a situation where I'm concerned that my floats are being printed as doubles, and I doubt that the most learn x in y readers, will be needing these kinds of details.

I think it's easiest to just say:
[code]

The sufficiently curious will google the details

[2017-05-23 19:13] vendethiel commented on #2730
That's also fine by me. "even with a float" or "a float gets implicitly converted to a double".

[2017-05-24 02:47] artur-pub commented on #2730
@ian-bertolacci, as "printf double float" search leads to SO question explaining it, I think your suggestion is really good in that it is easy to understand both with and without going into details.

[2017-05-25 11:12] bezigon opened #2737 "[typescript/all] require let or const instead of var"
Proposal to follow no-var  [ESLint](//eslint.org/docs/rules/no-var)/[TSLint](//palantir.github.io/tslint/rules/no-var-keyword/) recommendation.

[2017-05-25 12:27] vendethiel commented on #2737
Sure, PR welcome :).

[2017-05-25 12:38] vendethiel commented on #1040
I'm not sure what I ended up doing with this. The document ATM doesn't seem to talk much about container semantics...

[2017-05-25 12:57] vendethiel commented on #1390
ae9762fd13dc75113a8d64091181477510825819

----

This was added at some point:
[code]

Those were removed at a previous time

That was reworded at some point, but I changed it again.

I added a (hopefully better) explanation.

----

@zoffixznet If you agree those are fixed, we can close this :-).

[2017-05-25 12:58] vendethiel commented on #1207
Would be interested to get some arguments on this. Closing in the meantime.

[2017-05-25 12:58] #1207 closed

[2017-05-25 12:59] #1082 closed

[2017-05-25 13:02] #1053 closed

[2017-05-25 13:06] #1155 closed

[2017-05-25 13:06] vendethiel commented on #952
The docs should usually be enough.

[2017-05-25 13:06] #952 closed

[2017-05-25 13:06] #2131 closed

[2017-05-25 13:08] zoffixznet commented on #1390
Thanks!

[2017-05-25 13:08] #1390 closed

[2017-05-25 13:08] #2386 closed

[2017-05-25 13:09] #2280 closed

[2017-05-25 13:09] vendethiel commented on #2280
Closing, feel free to PR whenever.

[2017-05-25 13:09] vendethiel commented on #2046
Go ahead!

[2017-05-25 13:09] #2046 closed

[2017-05-25 13:10] #2218 closed

[2017-05-25 13:11] #2239 closed

[2017-06-06 07:56] ianmiell opened #2748 "[shutit/en] 404'ing"
https://learnxinyminutes.com/docs/shutit/

The link above from the main page to ShutIt 404s.

Was there a mistake in my PR?

[2017-06-06 08:38] vendethiel commented on #2748
I can't seem to figure out what's wrong with it, so I'll ask the almighty @samcv who knows how everything works.

[2017-06-08 08:24] samcv commented on #2748
Sorry didn't see this notification. I'll put it on my todo list for tomorrow to try and figure it out!

[2017-06-08 23:29] samcv commented on #2748
@vendethiel page generates perfectly fine for me. Though there are many other pages that are having errors which I will open a bug for shortly. @adambard something is going on on your end, as no errors generating that page for me.

[2017-06-08 23:47] samcv opened #2753 "Many pages contain errors when building the site"
* error  build/docs/pt-br/markdown-pt/index.html
* error  build/docs/pt-br/common-lisp-pt/index.html
* error  build/docs/pt-br/visualbasic-pt/index.html
* error  build/docs/toml/index.html
* error  build/docs/ko-kr/markdown-kr/index.html
* ~~error  build/docs/CONTRIBUTING/index.html~~
* error  build/docs/nl-nl/markdown-nl/index.html
* error  build/docs/visualbasic/index.html
* error  build/docs/zh

[2017-06-08 23:49] samcv commented on #2753
@vendethiel Almost all of them are due to the same markdown highlighter issue. The rest you'll have to check the logs 😃

[2017-06-09 00:04] adambard commented on #2748
The usual, I changed \`\`\`shell to \`\`\`bash and it seems happy.

[2017-06-09 00:04] #2748 closed

[2017-06-09 02:43] vendethiel commented on #2753
Thanks, that's helpful.

[2017-06-12 21:21] newShepard opened #2758 "brainfuck"
Make sure the issue title is prepended with '[language/lang-code]' if the language is
already on the site.
If it's a request for a new language, use: '[Request] [language/lang-code]'

Issues are always welcome. If you are able and willing, we welcome any pull requests
as this is a community powered project.

[2017-06-13 00:23] ian-bertolacci commented on #2758
Whats the issue? There is already a BF tutorial (https://learnxinyminutes.com/docs/bf/)

As for the naming, issue #2120 addresses the use of BF instead of brainfuck.

[2017-06-15 16:35] andys8 opened #2759 "[scala/en] Request to add "traits""
The [english scala file](https://github.com/adambard/learnxinyminutes-docs/blob/master/scala.html.markdown) is missing the topic "traits" in chapter 5.
[code]
The [german scala file](https://github.com/adambard/learnxinyminutes-docs/blob/master/de-de/scala-de.html.markdown) explains "traits". So the solution could be to translate it :)

[code]

[2017-06-19 02:27] codebeautify opened #2765 "Sugesstion , regarding page JSON"
Please add these https://jsonformatter.org as all in one JSON tool for Formatting, validating and Tree view of JSON data.

[2017-06-19 18:50] tom-sherman opened #2766 "[Request] Jinja and other templating engines"
Is there any interest in these languages? I was just getting started on a Jinja doc and realised this project doesn't have any template engine related content.

If this is within scope of the project, there are a few questions to be asked.

As the template engine's syntax and its API are both equally important when using it, should the doc cover both of these subjects? For example, in a Jinja doc

[2017-06-23 20:21] cincodenada opened #2767 "[scala/en] Clairfy comment about foreach and Unit"
I went to try to edit this comment for readability, but I literally don't understand what it's trying to say:
[code]

But judging by the code example, it seems to just be re-iterating what has now already been explained above in the Functional Programming section:

[code]

So perhaps that section can just be removed now?

[2017-06-23 20:38] cincodenada commented on #2724
I came across this today myself, I've submitted a PR with the modification I did to explain it to myself, which ended up being very similar to @hpincket's suggestion.

[2017-06-23 20:41] hpincket commented on #2724
Ah yes, I completely forgot about this.

[2017-06-23 21:06] vendethiel commented on #2767
The explanation is still interesting, comparing map vs foreach

[2017-06-25 12:03] andys8 opened #2773 "[lolcode/en] Link broken (404)"
The link to "LOLCODE" is currently dead. Could be related to #2753.

#### Reproduce
1. Open https://learnxinyminutes.com
2. Click on "LOLCODE"
3. https://learnxinyminutes.com/docs/LOLCODE/ is currently 404

[2017-06-25 16:50] nereusx opened #2774 "[Request] Categories Redesign or at least a column with the following info"
I would like to see separated in those categories, the most are used for decades.

(A) Programming Languages: used to create applications, can be compiler or interpreter or both, but this it has to be noted.

(B) Script languages: generic-role interpreters that are used mostly as utilities or data processing (Shell scripting (posix shell, csh, bash, zsh), DOS/WIndows batch files, AWK, etc).

(C) M

[2017-06-26 18:11] meetmangukiya opened #2775 "[RestructuredText/rst]docs for rst is not rendering correctly"

[2017-06-29 17:43] cincodenada commented on #2767
Okay, in that case the comment still should be reworded, and I can't quite tell what it's trying to say. Perhaps this?

[code]

[2017-06-29 21:30] vendethiel commented on #2767
Sounds good to me.

[2017-06-30 20:30] cincodenada commented on #2767
Cool, now that I understand what it was going for, I've added this into #2768, so I'll close this out.

[2017-06-30 20:30] #2767 closed

[2017-07-03 06:28] rawlik commented on #2330
It is already fixed in the current version.

[2017-07-03 13:03] #2330 closed

[2017-07-04 10:28] antimatter96 commented on #2700
@adambard any headway ?

[2017-07-04 11:34] #2700 closed

[2017-07-04 18:21] #2759 closed

[2017-07-04 18:43] andys8 commented on #2773
Still dead. Anyone looking into it?
![image](https://user-images.githubusercontent.com/13085980/27840456-5d1bccea-60f9-11e7-9f2a-0b5339edb294.png)

[2017-07-04 18:57] davelima commented on #2773
@adambard maybe the filename must be lower case? Currently is the only .html.markdown file with upper case name

[2017-07-05 18:23] Pavel-Senatorov opened #2782 "[Request] [Ya/en] To += PL Ya from Ya-Lang.com"
http://Ya-Lang.com

I'm the developer of PL Ya. Ready to design+write starting description based on examples. Just write to me to + don't know how to include the article into learnxinyminutes.com.

[2017-07-06 11:06] kevinseirey opened #2784 "[python/it] Downloading file in italian"
I'm a brazilian user and when I click in the "get code" link (https://learnxinyminutes.com/docs/files/learnpython.py) inside the python tutorial (https://learnxinyminutes.com/docs/python/), it downloads me the file in italian language.

e.g.:
[code]

I wanted it in english, or at least, in portuguese.

[2017-07-07 20:51] alexiscrack3 opened #2786 "[go/es] Typos"
entusiasta comunidad => comunidad entusiasta

Cualificalo => Llámalo

sintáxis => sintaxis

operacion => operación

[2017-07-20 23:38] adambard opened #2803 "[chicken/en] s/R(.)R([0-9])/R\2R\1/g"
(From an email I was sent)

"I was going through CHICKEN language web page and observed errors such
as RSR5, RSR7. I am sure this was a typo yet observable as these
standards follow format of RnRS, so should be R5RS or R7RS."

[2017-07-21 15:54] crickzhang1 opened #2805 "[c++/en] Missing `public:` in `OwnedDog` declaration"
In class OwnedDog declaration,  member functions should be public:

[code]

[2017-07-22 22:41] samcv opened #2806 "[perl6] page has not been updated with latest changes"
I made some changes several weeks ago and the changes have still not updated. The `Lists` section should be titled `Arrays and Lists` but that change is still not there. @adambard are there any problems with pages generating?

https://learnxinyminutes.com/docs/perl6/

[2017-07-22 23:15] adambard commented on #2806
Always. I'll take a look now.

[2017-07-22 23:56] HairyFotr commented on #2786
PR for these: #2787

[2017-07-24 04:42] esadler44 opened #2808 "[python3/en] No section for single inheritance"
I was just reading through your Python3 document for "Learn X in Y minutes"
You talk about multiple inheritance in section 6.1, but inheritance isn't introduced at all before that point.

[2017-07-25 17:50] Dan782 opened #2810 "[csharp/en] 'then' used when it should be 'than'"
Minor mistake in the C# document, this line:

"// Static members belong to the type itself rather then specific object."

'then' should be 'than'

then = chronological (time)
than = comparison

Thanks for the website and the documentation it helps a lot!

[2017-07-29 13:52] nobody246 opened #2816 "CHICKEN / (equal? "abc" "abc") ;; => #f"
**(equal? "abc" "abc")       ;; => #f**
should be **(equal? "abc" "abc")       ;; => #t**

I have tried this example in the REPL and equal? evaluates two equivalent strings as #t

[2017-08-18 22:22] Grinnz opened #2829 "[perl/en] "Get the code" link downloads polish code"
The "Get the code" link on https://learnxinyminutes.com/docs/perl/ links to the polish version of the code, visible at https://learnxinyminutes.com/docs/pl-pl/perl-pl/. Maybe because it is not using a different filename?

[2017-08-18 22:37] Grinnz commented on #2829
Also I wanted to ask, what is the intention with "get the code". The code on the perl page doesn't currently compile for several reasons, I can fix most of them with a PR, but the examples of reading from an input file and putting code in a separate module file would be difficult to get to run.

[2017-08-22 21:34] #2810 closed

[2017-08-22 21:35] Oire commented on #2810
Thanks @Dan782, fixed!

[2017-08-22 22:14] Oire commented on #2786
Fixed via #2787.

[2017-08-22 22:14] #2786 closed

[2017-08-22 22:23] Oire commented on #2707
@martin-uda, yes, please send a PR. I don't speak Czech, but I'm Ukrainian, and my common Slavic reading skills are enough to understand that your changes are reasonable :).

[2017-08-23 13:47] Oire commented on #2829
Fixed via #2831.

[2017-08-23 13:47] #2829 closed

[2017-08-24 06:29] adambard opened #2832 "[many/many] WE NEED YOU!"
...to help smash these fiddly bugs relating to various docs' yaml frontmatter!

Comment below if you're in a bug-fixy mood and I'll give you commit access.

[code]

[2017-08-24 13:02] prertik commented on #2832
Sure. Would definitely help to fix these bugs.

[2017-08-24 13:19] vendethiel commented on #2832
Well, a PR would work as well.

[2017-08-24 14:48] prertik commented on #2832
@vendethiel  Yeah, but commit access sounds cool!

[2017-08-25 06:29] adambard commented on #2832
PRs work as well, but more collaborators make lighter work :)

[2017-08-25 08:44] prertik commented on #2832
I think this issue is no more.

[2017-08-25 11:03] #2758 closed

[2017-08-25 11:10] #2816 closed

[2017-08-25 11:40] prertik commented on #2832
I ran the python script [frontmatter_checker](https://github.com/adambard/learnxinyminutes-site/blob/master/utils/frontmatter_checker.py). There were still many bugs.

[2017-08-29 23:48] #2805 closed

[2017-08-29 23:49] Oire commented on #2805
@crickzhang1, thanks!

[2017-08-29 23:53] Oire commented on #2784
@kevinseirey, could you please check if it is fixed now? BTW, there is a Brazilian Portuguese translation of the Python tutorial.

[2017-08-29 23:54] Oire commented on #2775
@meetmangukiya, could you please elaborate?

[2017-08-29 23:57] Oire commented on #2668
@adambard, can we do something about it?

[2017-08-29 23:58] Oire commented on #2644
@abelsromero, could you please send us a pull request with these changes? Thanks!

[2017-08-30 00:03] Oire commented on #2643
@pubudu91, now there is a page about Awk. Thanks for your request!

[2017-08-30 00:03] #2643 closed

[2017-08-30 00:05] Oire commented on #2622
@timrowledge, could you please send us a pull request with the changes you mentioned? Thank you!

[2017-08-30 00:07] Oire commented on #2621
@mulderns, could you please send us a pull request? Thank you!

[2017-08-30 00:10] Oire commented on #2095
@Laoujin, is this fixed now?

[2017-08-30 00:14] #2029 closed

[2017-08-30 00:17] #562 closed

[2017-08-30 00:19] Oire commented on #879
Fixed.

[2017-08-30 00:19] #879 closed

[2017-08-30 10:01] mulderns commented on #2621
Well, I don't know what the notations mean...

[2017-08-30 10:15] abelsromero commented on #2644
If it's OK, I'll add a section at the end called "Further Reading". I see most articles use this structure.

[2017-09-03 19:39] Oire commented on #1119
Fixed.

[2017-09-03 19:39] #1119 closed

[2017-09-03 19:41] Oire commented on #1112
Fixed.

[2017-09-03 19:41] #1112 closed

[2017-09-03 19:45] Oire commented on #2057
Closing for now.

[2017-09-03 19:45] #2057 closed

[2017-09-05 19:15] augbog commented on #1112
Thank you guys :) 👍

[2017-09-06 09:52] Prakhar0409 opened #2839 "[SML/en] No section explaining signatures and structures."
I think it would be very helpful if there could also be a section on signatures and structures in SML.

[2017-09-07 00:58] chaihahaha opened #2840 "[Request] [verilog/en]"
Hope for a short verilog doc.

[2017-09-07 10:19] hnq90 opened #2841 "[python/en] filled_dicts is not defined"
`filled_dicts` is not defined. It should be `filled_dict`.

[code]

Please fix it.

[2017-09-07 21:13] Oire commented on #2841
Closed via #2842.

[2017-09-07 21:13] #2841 closed

[2017-09-07 22:08] jdjohnston opened #2843 "[edn/en] Initial description is inaccurate"
The sentence "The notation is used internally by Clojure to represent programs." should be deleted or completely rewritten. Per https://github.com/edn-format/edn, "edn is an extensible data notation." Data only, no code. It is intentionally a _subset_ of the full Clojure syntax, partly to ensure that it represents only data. Secondly, Clojure doesn't use any textual format for programs "internally

[2017-09-07 22:57] Oire commented on #2843
@jdjohnston, could you please send a pull-request as you know what needs to be changed? Thanks!

[2017-09-07 23:03] jdjohnston commented on #2843
@Oire, I can try. Git is not my best tool. If I understand correctly: fork, clone, change file, commit, submit PR. Sound about right?

[2017-09-07 23:57] Oire commented on #2843
@jdjohnston, yepp, but I'd suggest adding branch: fork (click that Fork button, you know), clone `https://github.com/jdjohnston/learnxinyminutes-docs`, then (from the repo folder): `git checkout -B fix-2843` (or any other branch name), change, commit, `git push --set-upstream origin fix-2843`, then submit a PR. If you need any help, please feel free to ask, me or other members will help you with p

[2017-09-08 00:09] jdjohnston commented on #2843
Well, here's my first GitHub pull request. Please, be kind. :)
https://github.com/adambard/learnxinyminutes-docs/pull/2844

[2017-09-08 14:29] jdjohnston commented on #2843
I see the PR was approved, so we can consider this issue closed

[2017-09-08 14:49] jdjohnston commented on #2843
Sorry, I prematurely thought the PR had been accepted. Hence the close and reopen. :(

[2017-09-08 19:21] Oire commented on #2843
Closed via #2844. Thanks @jdjohnston!

[2017-09-08 19:21] #2843 closed

[2017-09-10 17:08] Laoujin commented on #2095
Nope, it still doesn't show up in https://learnxinyminutes.com/docs/powershell/

[2017-09-10 17:55] Oire commented on #2840
Thank you! This is a duplicate of issue #2333.

[2017-09-10 17:55] #2840 closed

[2017-09-10 17:58] Oire commented on #2333
Cc @chaihahaha

[2017-09-10 18:04] Oire commented on #2237
@e99n09, @kalinn, any thoughts, please? Thanks!

[2017-09-10 19:29] #2177 closed

[2017-09-10 19:30] Oire commented on #2177
@GetContented, added, thanks! :)

[2017-09-10 20:30] noncombatant opened #2846 "[c/en] Integer overflow and wrong int types in malloc"
Although this expression won't overflow, the pattern is common and often leads to exploitable vulnerabilities:

  int *my_ptr = malloc(sizeof(*my_ptr) * 20);

Often, instead of 20, people will write sizeof(foo) * attacker_controlled_value. Hilarity ensues.

If you don't want to talk about how to check for overflow in this document, you can avoid the issue by using calloc (which has the benefit of

[2017-09-10 21:43] noncombatant opened #2847 "[c/en] Incorrect description of extern keyword"
// if referring to external variables outside function, must use extern keyword.
int i = 0;
void testFunc() {
  extern int i; //i here is now using external variable i
}

This is not true:

~ $ make test
clang -Wall -Wextra -Werror -O0 -ansi -pedantic -std=c11    test.c   -o test
~ $ ./test
~ $ echo $?
42
~ $ cat test.c
int i = 42;
int main() {
  return i;
}

[2017-09-10 21:49] noncombatant opened #2848 "[c/en] Description of static keyword could be stronger"
[code]

It'd be perhaps better to say something like, "The static keyword makes a variable inaccessible to code outside the compilation unit. (On almost all systems, a "compilation unit" is a .c file.) static can apply both to global (to the compilation unit) variables, functions, and function-local variables. When using static with function-local variables, the variable is effectively global and

[2017-09-10 21:51] noncombatant opened #2849 "[c/en] Unnecessary growth of namespace with `typedef`"
[code]

It's a little-known factoid :) that this is legal:

[code]

That way, you don't have to have both `Node` and `struct node` in your namespace. It's a minor point — not an actual bug — but I prefer this kind of declaration.

[2017-09-10 21:59] noncombatant opened #2850 "Could use simpler function `typedef` syntax"
[code]

This is legal, and IMHO more understandable:

[code]

As I'll show below, this syntax is unnecessarily hairy as well:

[code]

I.e. the alternative syntax is less nasty. Why bother with the nasty flavor? :)

The only quirk is, when putting such a function type as a member of a `struct`, you do need to give it a `*`:

[code]

You don't need the `*` when passing such function `typedef`s to o

[2017-09-10 22:01] noncombatant opened #2851 "[c/en] Mention that `enum`s are great in `case` labels"
[code]

Since (as you note above) `enum` values are integral constants, they make great `switch`/`case` labels. And you can even get compiler warnings when you accidentally forget an enum value, which can help avoid bugs.

[2017-09-10 22:03] noncombatant opened #2852 "Mention compiler flags for increased safety/bug prevention/correctness"
As you can see from my other issues, I like:

[code]

but you may have your own. But it's good to get beginners started with some strict options, to avoid problems. `-Werror` in particular is a life-saver.

[2017-09-10 22:12] Oire commented on #2852
Sorry, what language is it, `C`?

[2017-09-10 22:15] noncombatant commented on #2852
Yep, C. Sorry about that.
On Sun, Sep 10, 2017 at 15:12 Andre Polykanine A.K.A. Menelion Elensúlë <
notifications@github.com> wrote:

[2017-09-10 22:18] Oire commented on #2095
Hm. For some reason, it seems to think it is Markdown, not code (since there are brackets and then parenthesis). @adambard, any ideas, please?

[2017-09-10 22:58] Oire commented on #2852
@adambard, @himanshu81494, any thoughts please? And also about #2846, #2847, #2848, #2849, #2850, and #2851. Thanks!

[2017-09-10 23:46] noncombatant opened #2853 "[c/en] Macro arguments should always be parenthesized in the expansion"
[code]

It's important to always parenthesize macro arguments in the macro expansion. Consider this example:

[code]

[2017-09-11 00:12] noncombatant opened #2854 "[c/en] C99 and later does have `bool`"
[code]

Just specify `-std=c99` (or, better, `-std=c11`) in your CFLAGS, and use this:

[code]

[2017-09-11 06:02] himanshu81494 commented on #2847
@noncombatant
You are correct pointing out that in example here use of ```extern``` here is not must.
An ```extern``` variable is used for declaration of a variable that is defined in another translation unit of Codebase. That means the storage for the variable is allocated in another file.

[2017-09-11 23:05] #2644 closed

[2017-09-12 05:47] prertik commented on #2839
Do you want to work on it?

[2017-09-12 23:16] Oire commented on #1750
Fixed.

[2017-09-12 23:16] #1750 closed

[2017-09-12 23:17] Oire commented on #1661
@TolgaB, feel free to send a PR. Closing this for now.

[2017-09-12 23:17] #1661 closed

[2017-09-12 23:23] Oire commented on #791
@adambard, is it fixed?

[2017-09-12 23:27] Oire commented on #561
Fixed via #2833.

[2017-09-12 23:27] #561 closed

[2017-09-12 23:30] Oire commented on #939
This seems to be a duplicate of #1253. There is a rather large discussion there, so I keep that one open.

[2017-09-12 23:30] #939 closed

[2017-09-12 23:33] Oire commented on #1398
Fixed via #1463.

[2017-09-12 23:33] #1398 closed

[2017-09-12 23:47] hzoo commented on #939
Yeah we'll try to update to es2016, etc soon https://github.com/babel/website/issues/994

[2017-09-13 03:05] adambrenecki commented on #939
There's two good PRs adding ES2015 already, and my intention is to do a bit of editing and merge the best of both; I'd forgotten about this but now that I've been reminded I'll do it this weekend.

Originally when those PRs came up I agreed with @adambard that ES2015 deserved its own article, but now that [all modern browsers support nearly all of it](https://kangax.github.io/compat-table/es6/) I

[2017-09-13 03:05] adambrenecki commented on #1253
There's two good PRs adding ES2015 already, and my intention is to do a bit of editing and merge the best of both; I'd forgotten about this but now that I've been reminded I'll do it this weekend.

Originally when those PRs came up I agreed with @adambard that ES2015 deserved its own article, but now that all modern browsers support nearly all of it I think it's appropriate to merge it into the or

[2017-09-13 05:05] adambard commented on #791
Haven't noticed it lately :)

[2017-09-13 05:05] #791 closed

[2017-09-13 05:07] adambard commented on #1253
Yes, I agree with this -- we can start adding features to the JS article. I guess I'll try to dredge up one of the old PRs and see if they still merge

[2017-09-13 05:21] adambard commented on #2847
This all sounds pedantic even by C's standards, does anyone mind if I just say "should" instead?

[2017-09-13 05:29] adambard commented on #2850
I believe you, but available evidence suggests that you are nearly the only person in the world who writes function pointer typedefs this way. Do you know which version of the syntax they appeared in?

[2017-09-13 05:32] #2846 closed

[2017-09-13 05:33] #2851 closed

[2017-09-13 05:33] #2849 closed

[2017-09-13 05:34] adambard commented on #2849
👍

[2017-09-13 05:42] #2853 closed

[2017-09-13 05:43] #2854 closed

[2017-09-14 01:15] adambrenecki commented on #1253
I'm going to edit the best bits of both of them into the current document manually this weekend; given how long it's been that's probably a better option than unleashing git merge onto it.

I also wanted to go through which features were and weren't mentioned; IIRC there were a few things in each of them that I didn't feel warranted a mention in LXIYM. I'll post the updated version as a PR to get

[2017-09-14 16:40] jdjohnston commented on #2847
@adambard Can you provide a reference to a coding standard that recommends this. My understanding of #extern is that was designed to only refer to an item defined in another compilation unit, not external to an individual function. So, yes without further documentation I would "mind" :) if it was changed to "should".

[2017-09-14 19:54] Oire commented on #1253
@adambrenecki, thanks a lot! I'm still cleaning here a bit, that's why I'm raising those old issues :).

[2017-09-17 14:51] Throne3d opened #2859 "[awk/en] Local variable in "arithmetic_functions" is titled "localvar" not "d""
In the comments near the start of the function:

[code]

There's no `d` in the declaration – presumably it's referring to `localvar` and that was previously named `d` to fit with the sequence?

Mostly unrelatedly: it might be worth stating if division between integers is commonly treated as integer division? (It mentions it's like in C and friends, so I assume division between integers *is* common

[2017-09-17 15:44] quat1024 opened #2861 "[forth/en] Syntax highlighting is a bit of a mess"
The syntax highlighter seems to think ' delimits a comment, so like, half the page is red x)

![image](https://user-images.githubusercontent.com/2068021/30522407-5aeb5ce0-9b9d-11e7-8a93-6f763a88585e.png)
...
![image](https://user-images.githubusercontent.com/2068021/30522411-65ad6c5e-9b9d-11e7-9663-3728b2c6d999.png)

I also think it's not recognizing ( this syntax ) as a comment.

[2017-09-18 03:41] meetmangukiya commented on #2775
All of the text under "File Syntax" should be in a code block and none of them should be rendered. However, currently, the lists are being rendered, and syntax for tables, etc are not inside code block

[2017-09-19 05:59] boissonnfive opened #2864 "[Markdown/fr] Il manque les références des liens avec référence"
Bonjour,
il manque les références en dessous des exemples de liens avec référence.
Précisément, il manque les lignes suivantes :

`[link1]: http://link1.org
[foobar]: http://www.foobar.com`

Idem pour les images avec référence.

[2017-09-19 19:03] Oire commented on #2864
@boissonnfive, merci pour le message. Pourriez-vous ouvrir un pull-request pour corriger ça? Merci!

[2017-09-20 01:11] RobRoseKnows commented on #2861
Which file is this?

[2017-09-20 21:28] jiangtaoQ opened #2865 "racket"
Make sure the issue title is prepended with '[language/lang-code]' if the language is
already on the site.
If it's a request for a new language, use: '[Request] [language/lang-code]'

Issues are always welcome. If you are able and willing, we welcome any pull requests
as this is a community powered project.

[2017-09-20 23:21] Oire commented on #2865
@jiangtaoQ, sorry, what's the issue?

[2017-09-22 17:12] timrowledge commented on #2622
I've attempted to provide some updates and hopefully issued a pull request correctly There is more to do later; the original version was basically just an uncredited copy of http://www.angelfire.com/tx4/cus/notes/smalltalk.html which was a bit unfortunate.

[2017-09-24 14:38] Oire commented on #2622
@timrowledge, sorry, I don't see a pull request. Could you please reference it by number or re-submit it? Thanks!

[2017-09-26 13:09] VanijaDev opened #2873 "[solidity/en]"
// Structs and enums
struct Bank {
    address owner;
    uint balance;
}
Bank b = Bank({
    owner: msg.sender,
    balance: 5
});
// or
Bank c = Bank(msg.sender, 5);

**c.amount = 5; // set to new value**

Did you mean: **c.balance = 5** ?

[2017-09-26 20:19] #2873 closed

[2017-09-26 20:21] Oire commented on #2873
@VanijaDev, thanks!

[2017-09-27 07:42] krono opened #2874 "[smalltalk/en] Content issue"
It seems that [smalltalk](smalltalk.html.markdown) is a copy of the [Squeak terse guide](http://wiki.squeak.org/squeak/5699) ([most current version](http://squeak.org/documentation/terse_guide/) ) but in an outdated version.

I can attest that the Squeak community welcomes exposure, especially here. However, I am unsure about the licensing. At least a pointer to the original guide would be nice

[2017-09-27 19:27] Oire commented on #2874
This is a duplicate of issue #2622. It seems, the Smalltalk tutorial should be rewritten. Thanks!

[2017-09-27 19:27] #2874 closed

[2017-09-27 19:37] 0xbf00 commented on #2861
@RobRoseKnows the issue is how the file appears on the website<sup>[0](#footnote0)</sup>

This is not something that can be fixed in this repository. Instead, the syntax highlighting of the underlying site is less than ideal. A related issue has been opened in the other repository<sup>[1](#footnote1)</sup>.

<a name="footnote0">[0]</a>: https://learnxinyminutes.com/docs/forth/
<a name="footnote1">

[2017-09-27 19:57] Oire commented on #2861
@0xbf00, thanks a lot! Closed in favor of adambard/learnxinyminutes-site#40.

[2017-09-27 19:57] #2861 closed

[2017-09-27 20:00] Oire commented on #2865
The issue is unclear, closing.

[2017-09-27 20:00] #2865 closed

[2017-09-27 22:03] Oire commented on #2668
Closed in favor of adambard/learnxinyminutes-site#43.

[2017-09-27 22:03] #2668 closed

[2017-09-29 19:16] Oire commented on #549
Closed via #2878.

[2017-09-29 19:16] #549 closed

[2017-10-01 00:44] Oire commented on #2271
Closed via #2877.

[2017-10-01 00:44] #2271 closed

[2017-10-01 11:34] Oire commented on #2313
Closed via #2876.

[2017-10-01 11:34] #2313 closed

[2017-10-02 15:31] cameyo42 opened #2884 "[Forth/en] tuck definition"
current:
1 2 3 4 tuck   \ duplicate the top item **into** the second slot:      1 2 4 3 4 ok
suggested:
1 2 3 4 tuck   \ duplicate the top item **below** the second slot:      1 2 4 3 4 ok

[2017-10-02 18:48] Oire commented on #2884
@cameyo42, could you please send a pull request? Thanks!

[2017-10-05 01:02] fnscoder opened #2889 "[pt-br/Asymptotic Notation] Two files in pt-br translation"
The Asymptotic Notation have two files in pt-br translation.

[2017-10-05 06:04] #2309 closed

[2017-10-05 08:17] prertik commented on #2889
Can you check which one is more accurate and submit a pull request to delete another one?

[2017-10-05 08:19] prertik commented on #2859
Can you submit a pull request regarding this issue?

[2017-10-06 07:12] teto opened #2893 "[nix/en] example of "a ? b ""
I was given on nix channel this tip and when I looked for the a . b syntax, I could not find it
`  Y = if (super.pkgs ? X) then ... else null;`

I am not sure what it means, I would say `a ? b returns true if b in a`

[2017-10-09 22:40] Oire commented on #2893
@chris-martin, do you have any ideas on this? Thanks!

[2017-10-09 22:45] chris-martin commented on #2893
I just ran this through the REPL and it seems indeed that `a ? b` tests whether the key `b` is present in the set `a`.

[code]

[2017-10-09 23:14] #2893 closed

[2017-10-10 00:56] teto commented on #2893
cool thanks !

[2017-10-10 04:04] #2889 closed

[2017-10-10 22:49] #2803 closed

[2017-10-13 08:21] jgjadaoag commented on #2884
@Oire would it be alright if I pick this up?

[2017-10-14 13:10] #2859 closed

[2017-10-14 13:12] #2737 closed

[2017-10-14 14:01] Throne3d commented on #2859
Oops, sorry – somehow I missed this comment.

Thank you for addressing it!

[2017-10-15 12:37] prertik commented on #2884
@jgjadaoag Sure. Go for it!

[2017-10-15 13:52] cameyo42 commented on #2884
Thanks.

2017-10-15 14:38 GMT+02:00 Pratik Karki <notifications@github.com>:

[2017-10-15 18:32] loxaxs opened #2912 "[tcl/en] Syntax highlighting problem"
Page: https://learnxinyminutes.com/docs/tcl/

Syntax highlighting detects a string beginning on the line:
[code]
But it does not detect a string end.

Solution: add a comment containing a single `"`:
[code]

[2017-10-17 09:12] #2884 closed

[2017-10-17 09:19] prertik commented on #2912
Do you want to work on it?

[2017-10-18 13:17] cameyo42 opened #2919 "[Forth/en] >R and R>"
Section: The Return Stack
Current: "5 6 4 >r swap r> .s    \ 6 5 4 ok"
Problem: You can't use >r and r> interactively, but only within a WORD definition.
Suggest:
": change  >r swap r> .s ; ok"
"5 6 4 change   \ 6 5 4 ok"

[2017-10-20 23:06] #2236 closed

[2017-10-20 23:11] #2603 closed

[2017-10-22 17:09] RaidAndFade opened #2934 "Embeds?"
An oEmbed is a very neat and simple thing to have but it makes your website able to have small previews when the link is posted on many chat platforms like skype, discord, and many others. Really consider adding embeds with text like "Learn <Lang> in Y minutes"

[2017-10-23 23:29] Oire commented on #2808
closed via #2924.

[2017-10-23 23:29] #2808 closed

[2017-10-26 19:23] Oire commented on #2314
Closed via #2946.

[2017-10-26 19:23] #2314 closed

[2017-10-27 06:08] erjan opened #2969 "[language/py] add 'yield' and itertools explanation"
the python version of "learn x in y minutes" was great. But it lacks the explanation for keywords like

"yield", "assert". Also it  has no explanation for itertools, which is important.

I really enjoyed the format of learn x in Y min. and I wish it was complete & thorough

[2017-10-31 14:49] nishanths opened #2994 "[Request] [textile/en]"
Textile is a markup language (like Markdown and asciidoc). It's an available input and output format in `pandoc`.

Textile Syntax docs [https://txstyle.org/]

[2017-11-15 01:51] aarohmankad opened #3002 "[Request] [Web Assembly/en]"
Would love to see Web Assembly added, as it will soon be [implemented across most major browsers](https://blog.mozilla.org/blog/2017/11/13/webassembly-in-browsers/).

[2017-11-15 23:18] JamieBallingall opened #3004 "[elm/en] fst and snd should be first and second?"
The code shows `fst` and `snd` as functions getting the first and second elements of a tuple. I couldn't get those to work. The functions appear to be called `first` and `second`.

[2017-11-19 13:03] peey opened #3006 "[docs/asymptotic-notation] A slight error in little-o and little-omega"
There's an inconsistency on this page [/docs/asymptotic-notation/](https://learnxinyminutes.com/docs/asymptotic-notation/)  in the sections on small-o and small-omega

should be  "f(n) is o(g(n)), if for **all** real constants c (c > 0) and n0 (n0 > 0), f(n) is < c g(n) for every input size n (n > n0)."

and

should be  "f(n) is ω(g(n)), if for **all** real constants c (c > 0) and n0 (n0 > 0), f(n

[2017-11-21 08:20] zzz6519003 opened #3007 "[request] we want to learn human languages XD"

[2017-11-23 01:37] JevinJ opened #3009 "[c++/en] possible correction."
// C standard headers are available in C++,
// but are prefixed with "c" and have no .h suffix.
#include <cstdio>

From what I've read this is backwards, C standard headers have the .h suffix eg.(math.h,  stdio.h,  time.h, etc) and C++ headers are prefixed with c(cmath,  cstdio,  ctime).

[2017-11-26 07:41] whhc opened #3011 "learn "x" in "y" minutes,"
中英翻译,x分别对应了语言和时间.

[2017-11-26 07:42] whhc opened #3012 "learn "x" in "y" minutes, "y" = 语言"
一个小问题,建议中英翻译照顾下强迫症...

[2017-11-26 07:46] #3012 closed

[2017-11-28 10:02] StageClear opened #3013 "[Java/ua] Punctuation issue."
![screenshot_12](https://user-images.githubusercontent.com/33164148/33313561-b4c2ce28-d433-11e7-81b9-dce804dd905a.png)

https://learnxinyminutes.com/docs/uk-ua/java-ua/
Missing a hyphen.

[2017-11-28 10:12] StageClear opened #3014 "[Java/ua] Register issue."
![screenshot_14](https://user-images.githubusercontent.com/33164148/33314084-3a2cff42-d435-11e7-9d3a-80b0b07128bf.png)

Upper register for "н" character is needed.

[2017-11-28 10:26] StageClear opened #3015 "[Java/ua] Mistake in the translated word."
![screenshot_15](https://user-images.githubusercontent.com/33164148/33314368-18b9428e-d436-11e7-9fe7-8e01c2ba89d2.png)

It must be "Понеділки" instead of "Понеділкі".
https://learnxinyminutes.com/docs/uk-ua/java-ua/
/*
Guys, i'm new to here & i'm just practicing. But i don't want to flood with such a simple issues. So can anyone tell me if i can merge it all in one issue? For example "[Java/ua] Pu

[2017-11-28 10:59] StageClear opened #3016 "[javascript/ua] Mistakes in text."
![screenshot_01](https://user-images.githubusercontent.com/33164148/33315553-a8c0bb84-d439-11e7-9b63-77ce98997c40.png)
Must be "працюють" instead of "працють"

![screenshot_02](https://user-images.githubusercontent.com/33164148/33315788-61c8c2c0-d43a-11e7-86fa-62a51aa7f231.png)
Must be "обов’язкові" instead of "обов’язкі"
https://learnxinyminutes.com/docs/uk-ua/javascript-ua/

[2017-11-28 19:31] lukeg101 opened #3017 "[ocaml/en] "OCaml for the skeptical" link is outdated, request to remove"
Hi Folks,
Nice tutorial, I'm currently learning OCaml and had a look at the further work. The "OCaml for the skeptical" link hasn't been updated since 2006 and as such many of the links are null/not useful anymore.

Request to remove.
Perhaps in the future I'll be more informed to provide another/better link

[2017-12-12 08:35] zbohm opened #3023 "[python/cz] Návrhy na změny v textu"
Špatně:
[code]

Správně:
[code]

Špatně:
[code]

Správně:
[code]

Špatně:
[code]

Správně:
[code]

Špatně:
[code]

Správně:
[code]

Špatně:
[code]

Správně:
[code]

Špatně:
[code]

Správně:
[code]

[2017-12-18 22:17] Menelion commented on #3023
@zbohm, could you please send a pull request with these corrections? Thanks!

[2017-12-20 13:59] ecarl65 opened #3029 "[julia/en] Changes to typing system"
Playing with the latest version of Julia (0.6.2), there are some changes to the typing system.

The tutorial at one point says:
[code]

But my Julia repl says it should be:
[code]

Some of the abstract types may have changed, when I look for the subtypes for the AbstractString I get different results from the comments.
[code]

Also, in this version of Julia it says that `super` isn't defined:
[cod

[2017-12-27 02:42] #2077 closed

[2017-12-27 18:24] GloverDonovan opened #3031 "[nim/en] Nested comments do not render properly"
Hello,

Nested comments don't appear to render properly even with the `nim` syntax highlighter chosen.

This causes some nasty side effects in the markdown preview.

Ref: #2172, #2207, #2925

[2018-01-04 04:59] JoshuaRLi opened #3035 "[c/en] Compiler flag recommendations are contradictory and could use improvement"
Currently, the C docs state:

With the most recent version of `gcc` (`7.2.1 20171128`), `-ansi` is an alias for `std=c90`, which is overridden by `-std=c11`. Moreover, the C99 standard is nearly universal today and widely recommended as a `gcc` flag, I recommend `-std=c99` as a default recommendation for beginners.

`-O2` is also a good default recommendation in lieu of `-O0`, being a middle groun

[2018-01-07 20:58] stanislaslegendre opened #3038 "[java/en] wrong assertion on classes"
I think the following statement "// Each .java file contains one outer-level public class, with the same name as the file." is false as you can have any accessibility modifier for the outer class. The statement is likely to be there in other languages as well.

[2018-01-09 07:01] Imlisten opened #3040 "[Typescript/zh-cn] fix reference"
[code]
it should be
[code]

[2018-01-09 18:17] heitorPB commented on #3029
I think those are solved in #2780, but it is not merged yet.

[2018-01-14 16:51] shividhar opened #3042 "[Ruby/en] Amendments to unclear instructions"
The `Combined comparison operator` line can be confusing because it is not a well-known operator. The comments could be formatted this way.
[code]

On the `Reverse an Array` line additional information can be given about the example `a.reverse! #=> [3,2,1]`. The `!` at the end of the reverse is a writeback, but that is not made clear.
An alternate approach.
[code]

[2018-01-19 01:52] IvanFon commented on #2316
This has now been done in the “Tools” section.

[2018-01-19 01:52] #2316 closed

[2018-01-24 02:31] salomaosnff opened #3049 "[Request] [Stylus/pt]"
Sorry for my bad English.
If we have content on LESS and SASS, why not also have on Stylus?

[2018-01-29 10:33] magicalwz opened #3054 "[matlab/zh-cn]"
建议
char(a(1))  % ans = one - 返回一个字符串
->
a{1}  % ans = one - 返回一个字符串

可以对cell的两种索引方式进行对比

transpose(A)  % 矩阵转置，等价于 A'
should be
transpose(A)  % 矩阵转置，等价于 A.'

加点为不共轭转职

[2018-02-05 19:51] swsch opened #3058 "CHICKEN string->intersperse should be string-intersperse"
#;5> (string->intersperse '("1" "2" "3") "::")

    Error: unbound variable: string->intersperse
    ...
    #;5> (string-intersperse '("1" "2" "3") "::")
    "1::2::3"

[2018-02-11 12:08] lanselibai opened #3060 "[Julia] 5 should be 4.5?"
# Another way to format strings is the printf macro.
@printf "%d is less than %f" 4.5 5.3 # 5 is less than 5.300000

here, the 5 should be 4.5 in the comment?

https://learnxinyminutes.com/docs/julia/

[2018-02-14 00:20] kingparra opened #3061 "[bash] Here-doc example should caution that variables are expanded unless delimiter is quoted."
In the bash [here doc example](https://learnxinyminutes.com/docs/bash/), using the ``<<` redirection operator, no mention is made of the difference between using a quoted or unquoted delimiter. This can cause unexpected behavior.

For example:

    $ export cash="peanuts"; export money="mothballs"
    $ cat << __EOF__ > some_file
    Money money
    $cash $money
    __EOF__

Will result in:
    $

[2018-02-27 10:18] varshard opened #3065 "[solidity/en] Add a reminder that `constant` will be deprecated"
Please indicate that `constant` modifier will be deprecated and should be changed to `view` in the balance function of SimpleBank contract.

[code]

[2018-02-28 07:46] prertik commented on #3065
Do you want to send a pull request of this?

[2018-02-28 07:48] prertik commented on #3061
Hi! Do you want to send a pull request?

[2018-02-28 07:49] prertik commented on #3060
Hi! Do you want to send a pull request?

[2018-02-28 07:49] prertik commented on #3058
Hi! Do you want to send a pull request?

[2018-02-28 07:50] prertik commented on #3054
Hi! Do you want to send a pull request?

[2018-02-28 07:50] prertik commented on #3049
Hi! Do you want to send a pull request on this?

[2018-02-28 07:51] prertik commented on #3042
Hi! Do you want to send a pull request on this?

[2018-02-28 07:52] prertik commented on #3040
Hi! Do you want to send a pull request on this?

[2018-02-28 07:53] #3038 closed

[2018-02-28 08:16] #3035 closed

[2018-02-28 08:43] salomaosnff commented on #3049
Yes, I'm preparing the content. When I put together a good material, I can do a pull request.

[2018-02-28 08:46] prertik commented on #3049
Alright! Go for it! I will review as soon as you send pull request!

[2018-02-28 09:36] prertik commented on #140
Anybody want to work on this? Do people on this thread want to send a pull request?

[2018-02-28 11:07] #3031 closed

[2018-02-28 11:11] #3060 closed

[2018-02-28 11:16] #3058 closed

[2018-02-28 11:28] #3017 closed

[2018-02-28 11:29] prertik commented on #3016
Can you send a pull request regarding this?

[2018-02-28 11:29] prertik commented on #3014
Can you send a pull request regarding this?

[2018-02-28 11:29] prertik commented on #3015
Can you send a pull request regarding this?

[2018-02-28 11:30] prertik commented on #3013
Can you send a pull request regarding this?

[2018-02-28 11:31] prertik commented on #3011
Can you elaborate your issue?

[2018-03-01 08:06] kelvinman opened #3074 "[html/en] learnhtml.html 404 Not Found"
Get the code: learnhtml.html returns 404 Not Found

[2018-03-02 06:15] Imlisten commented on #3040
ok

[2018-03-02 06:15] #3040 closed

[2018-03-03 05:51] #3074 closed

[2018-03-03 06:02] prertik commented on #3007
What about this @adambard ?

[2018-03-03 06:05] prertik opened #3078 "[Request] [collaborators/collaborators] Spring time cleanup of all issues."
Lots of issues are going unaddressed so, calling all maintainers to fix all the issue and merge requests for this spring time.

[2018-03-03 06:26] #2832 closed

[2018-03-03 06:28] #2806 closed

[2018-03-03 06:31] #2784 closed

[2018-03-03 06:34] #2773 closed

[2018-03-06 02:55] adambard commented on #3007
A neat idea, but could probably be a separate website. I'll reserve judgement on whether or not it's a good idea until I see an example, but in any case, until someone actually bilingual contributes a LXIYM-style human language guide, there's not much I can do about it.

[2018-03-06 03:00] adambard commented on #2766
As long as it's useful to someone somewhere, we have no relevance criteria whatsoever. I for one would happily merge in a Jinja doc (at such time as I got around to it).

I'd say it's enough to give a summary of how Jinja executes python and/or how Python can compile jinja templates, then link to one of the python docs.

[2018-03-06 03:00] #2766 closed

[2018-03-06 03:01] #2765 closed

[2018-03-07 16:53] mauricio-fidalgo commented on #2256
Pascal has been added to the website

[2018-03-07 16:53] #2256 closed

[2018-03-12 22:28] ian-bertolacci commented on #2120
When did it get changed back?

[2018-03-12 22:38] ian-bertolacci opened #3084 "[cypher] 404 Redirect"
Accessing cypher from the main page gives 404 not found.
Full URL is https://learnxinyminutes.com/docs/cypher/

[2018-03-13 10:50] prertik commented on #2120
Looks like some problems occured here. The filename and language was changed to pass the tests. So, what should the naming be? I'm open for discussions and change. @adambard

[2018-03-13 17:30] ian-bertolacci commented on #2120
Im not sure how the testing works, and the errors shown in #2832 are some-what ambiguous.
But I think the error "filename missing" means that the `filename` field in the language's markdown file is missing.
Previous to 096fcc97902ba17b6a8bceea4492757b49ca864a there was no `filename` field, which would have caused this test to fail.

I think if we simply rename BrainFuck to bf (or some other varian

[2018-03-13 20:25] prertik commented on #2120
You are correct. Looking back, I found the filename was missing. Yes, i think there wasn't any problem with the naming field.

[2018-03-20 08:28] AndreyProskurin opened #3096 "Swift"
Make sure the issue title is prepended with '[language/lang-code]' if the language is
already on the site.
If it's a request for a new language, use: '[Request] [language/lang-code]'

Issues are always welcome. If you are able and willing, we welcome any pull requests
as this is a community powered project.

[2018-03-20 08:29] #3096 closed

[2018-03-25 11:47] erezsh opened #3098 "YAML - "Like Python, sets are just maps with null values" - Wrong"
In Python, sets are different objects than dicts, with different operations and semantics. They both use hashes, but that's really the only similarity.

Perhaps you're thinking of Javascript.

[2018-03-26 04:14] jc260552 commented on #2120
Should Brainfuck also be changed on the front page?

[2018-03-26 05:01] ian-bertolacci commented on #2120
Yes.

On Sun, Mar 25, 2018 at 9:14 PM, Jack <notifications@github.com> wrote:

[2018-04-08 05:07] tjfwalker opened #3108 "[Request][Reason]"
I'd love to see [Reason](https://reasonml.github.io/) —aka ReasonML— on the site.

[2018-04-08 17:50] BenQuigley opened #3110 "[en-us/pythonstatcomp] HRE data moved"
One of the data source URL from the scipy docs...

[code]

...results in a 404 error now.

[2018-04-12 18:35] ian-bertolacci commented on #3108
If you have the ability to write the tutorial, feel free to do so and they'll pull it in.
Usually 'doing it yourself' is the best way to get things up here.

Even if you don't know the language, I find writing tutorials to be a good way to learn it.

[2018-04-15 19:58] evbarnett commented on #400
+1.

If no one is working on it right now, I'll do it next weekend.

[2018-04-16 00:14] AlinaWithAFace commented on #400
Yes please!

[2018-04-16 07:43] elhaddadyacine opened #3114 "[Lambda Calculus] Missed associativity of parentheses"
Hi,
In [Lambda Calculus Doc](https://learnxinyminutes.com/docs/lambda-calculus/) inside **Evaluation** section the formula :

- (λx.λy.λz.xyz) is equivalent to f(x, y, z) = x(y(z))

should be

- (λx.λy.λz.xyz) is equivalent to f(x, y, z) = ((x y) z)

because the associativity of parentheses is left in λ-calculus.

[2018-04-16 14:54] categulario commented on #400
@evbarnett I started this branch two years ago, maybe you can use it as starting point: https://github.com/categulario/learnxinyminutes-docs/tree/newlang/sql

[2018-04-17 16:06] cmkpl opened #3115 "[Request][q#] Anyone know Q# and write for the site?"
Make sure the issue title is prepended with '[language/lang-code]' if the language is
already on the site.
If it's a request for a new language, use: '[Request] [language/lang-code]'

Issues are always welcome. If you are able and willing, we welcome any pull requests
as this is a community powered project.

[2018-04-18 19:42] nkaretnikov opened #3116 "[rust/en] clarify the difference between `impl<T> Foo<T>` and `impl Foo<T>`"
This was confusing to me. At first glance, the first `T` just looks redundant because `Foo` is already
polymorphic. I'd add a note saying that the first `T` is necessary to indicate that `T` in `Foo<T>` here
is not a concrete type, but a type parameter. Or, perhaps add an example where `T` is concrete, then `impl Foo<T>` will get accepted.

[2018-04-18 19:43] nkaretnikov commented on #3116
An example code (by mbrubeck on ##rust @ freenode):
[code]

[2018-05-04 07:37] Tiseno opened #3119 "[Request][PicoLisp]"
What is the most similar dialect that is already available here?

[2018-05-14 18:27] freetnt5852 opened #3126 "[CSS/en] Download problem"
The CSS Course sends a page with source code instead of prompting to download like others.

[2018-05-14 18:36] freetnt5852 commented on #3126
This happens in other pages too, so I'm guessing this is normal? Mostly for html js web stuff

[2018-05-28 07:50] ValentinaRodrigues opened #3130 "[python3/en] Correction regarding example in Tuples in python3"
There is the following comment and example in the Tuples section in Python3:

"#Tuples are created by default if you leave out the parentheses"
`d, e, f = 4, 5, 6`

Shouldn't the example be :
`d = 4, 5, 6`

which gives us output as intended:
`d = ( 4, 5, 6)`

Because if we do
`d, e, f = 4, 5, 6`

we get
[code]
which does not explain the statement: "Tuples are created by default if you leave out th

[2018-05-31 17:43] prertik commented on #3126
Yeah, it does for web related files. It can be better to just do `save page as` for web contents.

[2018-05-31 17:48] prertik commented on #3130
You're right. Do you want to send a pull request?

[2018-05-31 17:55] prertik commented on #3119
Being a Lisp dialect, I don't think it is too different than [chicken-scheme](https://learnxinyminutes.com/docs/CHICKEN/), [common-lisp](https://learnxinyminutes.com/docs/common-lisp/), [clojure](https://learnxinyminutes.com/docs/clojure/), [emacs lisp](https://learnxinyminutes.com/docs/elisp/), [LFE](https://learnxinyminutes.com/docs/lfe/), [paren](https://learnxinyminutes.com/docs/paren/) and [r

[2018-05-31 17:56] prertik commented on #3116
Hi. Do you want to send a pull request on this?

[2018-06-03 13:38] br-ack-et opened #3134 "Certificate expired"
![screenshot from 2018-06-03 09-38-23](https://user-images.githubusercontent.com/38734443/40887138-e76c48ec-6711-11e8-9e19-c7c898c97434.png)

[2018-06-04 16:07] prertik opened #3136 "Site is not being updated.."
The website isn't being updated even after merging pull requests. The references are #3094 and #3133.

[2018-06-06 11:59] prertik commented on #3136
Great!

[2018-06-14 16:07] #2912 closed

[2018-06-14 16:33] prertik commented on #3136
Hi @adambard, this problem still persists.

[2018-06-19 04:19] adambard commented on #3136
Yup, having some cron issues. I've been running it manually every so often, but I'll keep this open until I can actually get it automatically building again

[2018-06-19 08:40] sim642 commented on #3114
There's a similar problem below:

Tbh, I'm not even sure what new that is trying to say or how it would be anyhow helpful to understanding IF.

[2018-06-19 14:54] elhaddadyacine commented on #3114
Thanks for your replay :+1:
But it's not updated yet :disappointed:

[2018-06-19 15:51] ian-bertolacci commented on #3114
They prefer if you can make the changes and file a pull request.

[2018-06-20 08:43] ValentinaRodrigues commented on #3130
I have sent a pull request, however, I forgot to refer it to the issue. #3132

[2018-07-04 18:23] archatas opened #3154 "Change the shebang line in the bash tutorial"
Wouldn't it make sense to change the shebang line to:

[code]

This way it should be working cross-platform.

[2018-07-05 18:00] ian-bertolacci commented on #3154
Not a bad idea.
Can you make the changes and make a pull request?

[2018-07-13 14:29] aloisdg commented on #3136
@adambard Would it be possible to add CI/CD to this project?

[2018-07-13 14:32] aloisdg opened #3158 "[TOML] v0.5.0 released"
Hello,

I wrote the page following the v.0.4.0 spec. Time to update!
The changelog can be found [here](https://github.com/toml-lang/toml/blob/master/CHANGELOG.md#050--2018-07-11).

Cheers,

[2018-07-17 09:35] XVilka opened #3161 "[Request][Coq]"
It would be awesome to have [Coq](https://coq.inria.fr/) proof assistant framework on this site.
Example tutorial: https://coq.inria.fr/tutorial-nahas

[2018-07-17 18:45] ian-bertolacci commented on #3161
Agreed. Do you know enough Coq to write a learn x in y tutorial and if so would you be interested in writing it?

[2018-07-21 02:12] dtkerns opened #3164 "awk doc: array initialization: another option"
The document says:
[code]

Not true, here's another option:
[code]
I actually like to assign the return value from split() into a variable too.

Also at the very top it says: "It has a C-like syntax, but without semicolons,"
While semicolons are not **required**, it's a good practice to use them.

[2018-07-24 14:50] dtkerns commented on #3154
Half in jest, if your distro doesn't have a /bin/bash, you should choose a different distro.

[2018-07-24 14:57] dtkerns commented on #3164
note: split() will use indexes 1-N, not 0-(N-1), consistent with the auto splitting of records into $1 - $NF

[2018-07-27 20:50] PerrySetGo commented on #3016
pls see my PR [#3168](https://github.com/adambard/learnxinyminutes-docs/pull/3168)

[2018-07-27 21:05] PerrySetGo commented on #3015
Please see my [PR #3168](https://github.com/adambard/learnxinyminutes-docs/pull/3168)

[2018-08-01 05:58] nserpen opened #3172 "not validating"
https://learnxinyminutes.com/docs/files/learnyaml.yaml does not validate in https://codebeautify.org/yaml-validator

[2018-08-04 08:08] jerrylususu opened #3176 "[matlab/zh-cn] Two minor typo"
\- profile **of**  % 关闭 profile 代码分析工具
\+ profile **off**  % 关闭 profile 代码分析工具

\- sqrtm(A)  % 对矩阵整体做**开放**运算（即试图求出一个矩阵，该矩阵与自身的乘积等于 A 矩阵）
\+ sqrtm(A)  % 对矩阵整体做**开方**运算（即试图求出一个矩阵，该矩阵与自身的乘积等于 A 矩阵）
（P.S. 开放-Open   开方-Taking square root）

[2018-08-05 09:40] pingiun opened #3177 "Letsencrypt certificate has expired"
## Is this a major issue that you cannot fix?
Yes, I cannot update the certificate for the site.

<img width="896" alt="screen shot 2018-08-05 at 11 39 49" src="https://user-images.githubusercontent.com/1576660/43684654-5a836810-98a4-11e8-8252-41e918659fe6.png">

[2018-08-07 04:52] PatMyron opened #3178 "[Request] Android development"

[2018-08-07 04:53] PatMyron opened #3179 "[Request] iOS development"

[2018-08-07 05:54] adambard commented on #3177
Sorry, was away yesterday!

[2018-08-07 05:54] #3177 closed

[2018-08-07 07:34] pingiun commented on #3177
Thanks for fixing this! Maybe you can set a cronjob for renewing? Something like `certbot renew --post-hook="systemctl reload nginx"`

[2018-08-08 04:35] adambard commented on #3177
In fact my cron job did run, I just forgot to reload nginx after. Thanks for the post hook tip, that should help!

[2018-08-14 13:48] Hugo1380 opened #3184 "[JQuery/FR] Layout broken on website"
Hello,

The Markdown layout of the JQuery page is totally broken on the website.

[2018-08-14 14:01] Hugo1380 commented on #3184
Fix : PR #3185

[2018-08-15 11:38] divayprakash commented on #2753
Working on it!

[2018-08-15 11:46] divayprakash commented on #2753
PR #3187.
Also, can anyone guide me as to how I can test the site locally?

[2018-08-15 12:44] divayprakash commented on #3004
@prertik This can be closed. It was fixed in c52ae61.

[2018-08-15 12:51] divayprakash commented on #3006
@peey Thank you for reporting this! I wrote this page originally so I can check the content. Will fix as required.

[2018-08-15 12:59] divayprakash commented on #3006
@peey You're absolutely right. Thanks!

@prertik Fixed in #3188

[2018-08-15 13:28] prertik commented on #3004
Thanks, @divayprakash!

[2018-08-15 13:28] #3004 closed

[2018-08-15 13:29] #3006 closed

[2018-08-24 04:59] #2753 closed

[2018-08-24 11:37] divayprakash opened #3192 "Build issues"
I made PR #3187 closing issues #2753 and #3084, however the following pages are still returning 404 errors which need to be fixed -

#### Cypher
- [x] error build/docs/cypher/index.html

#### Objective C
- [x] error build/docs/es-es/objective-c-es/index.html

#### Visual Basic
- [x] error build/docs/es-es/visualbasic-es/index.html
- [x] error build/docs/pt-br/visualbasic-pt/index.html

#### Markdo

[2018-08-24 13:48] divayprakash commented on #3192
@adambard Could you guide me as to how I should test the site locally?

I set up Middleman and am able to build the site but **none** of the pages in languages other than English are able to be built successfully, even those that are present on the [site](https://learnxinyminutes.com/). At the start of the build, I get these errors -

[code]

[2018-08-24 13:49] divayprakash commented on #3192
A complete log of the build - [log.txt](https://github.com/adambard/learnxinyminutes-docs/files/2318622/log.txt)

[2018-08-24 19:56] adambard commented on #3192
It is typical for there to be a lot of errors like this; it's a limitation of the build script which I've not had a chance to clean up.

For debugging individual files' errors, my general process is to run the site in middleman development mode (`middleman start`) -- errors tend to result in debug pages that give some hints as to the root cause. This might give you some insight as to why non-engli

[2018-08-24 19:57] adambard commented on #3192
(You may have to manually navigate to these files on your localhost if they don't appear in the index)

[2018-08-24 19:57] #3184 closed

[2018-08-28 15:51] adambard commented on #3184
Whoops, looks like there was more than one thing. Seems better now!

[2018-08-29 07:13] Hugo1380 commented on #3184
Yes that better ! :)

[2018-08-29 11:37] divayprakash commented on #3192
@adambard Understood. I'm working on it!

[2018-08-29 11:45] divayprakash commented on #3192
Strangely enough, I don't have the issue anymore if I run `middleman server` instead of `middleman build`. Even though the build log throws up the same errors as before, all non-english files do build correctly, except the specific ones for which I opened this issue. Which leads me to believe that it's only the reason you mentioned -

[2018-08-29 12:28] divayprakash commented on #3192
PR #3193

[2018-08-29 14:02] inkydragon commented on #3176
其实你可以直接提 pr 的。
我把这个 issue 和另一个合并提 pr 了 #3194

[2018-08-29 14:32] inkydragon commented on #3054
@perlilja
@magicalwz suggest that
- `char(a(1))` should be replace by `a{1}`, for the latter is more simple ([Line 128](https://github.com/adambard/learnxinyminutes-docs/blame/master/matlab.html.markdown#L128))
- `transpose(A)` is equivalent to `A.'`. They all represent "the nonconjugate transpose".
  and `ctranspose(A)` is equivalent to `A'` which "Complex conjugate transpose"
  So, In chinese ve

[2018-08-29 14:43] lostella opened #3195 "[julia] update language syntax to 1.0"
The Julia language changed significantly with the release of version 1.0.

[2018-08-29 14:55] #3195 closed

[2018-08-30 05:14] prertik commented on #3054
Sure, you can fix those in a single PR with of course different commits.

[2018-08-31 03:55] #3192 closed

[2018-09-04 12:27] divayprakash opened #3206 "YAML frontmatter errors"
I was reading #2120 looking for bugs to fix and came across #2832. As @prertik pointed out there, there are still many bugs that pop up on running `frontmatter_checker.py` -

[code]

[2018-09-04 12:29] divayprakash commented on #3206
@adambard I'd love to be a collaborator on this project. I've been working on it for some time now and know it quite well. If possible, I'd love to have commit access to the repo to be able to fix bugs such as this one. Cheers!

[2018-09-04 12:30] divayprakash commented on #3206
Anyways, I'll be making a PR fixing this issue soon.

[2018-09-04 13:16] divayprakash commented on #3206
PR #3207

[2018-09-04 16:30] adambard commented on #3206
@divayprakash Great idea! You now have the power.

[2018-09-04 16:30] #3206 closed

[2018-09-08 11:05] divayprakash commented on #3054
@prertik PR is #3199

[2018-09-08 11:14] divayprakash commented on #3130
@prertik @ValentinaRodrigues I don't think this is correct. Please see the next lines in the file -

[code]

The intent here was the creation of 3 tuples called d (value 4), e (value 5) and f (value 6) and then a swap is demonstrated. Also, the lines above this further clarify the situation -

[code]

[2018-09-08 11:14] divayprakash commented on #3130
The section is meant to demonstrate unpacking tuples into values.

[2018-09-08 11:50] divayprakash commented on #3130
This refers to the tuple created by `4, 5, 6`.

The section is meant to demonstrate unpacking tuples into values. Thus the fact that `d, e, f` are integers is what is being demonstrated.

[2018-09-08 12:26] divayprakash commented on #3130
I agree. If you'd like to clarify that in the comment, please make a PR for the same.

Thank you for pointing this out!

[2018-09-08 13:28] divayprakash commented on #3136
@adambard Seems to be working fine now. I just merged a few PRs in and the changes are being reflected on the site.

[2018-09-08 13:31] divayprakash commented on #3084
Fixed in b57cca8 under PR #3193.

[2018-09-08 13:31] #3084 closed

[2018-09-08 13:40] divayprakash commented on #2782
@Pavel-Senatorov I'd be willing to help you. Let me know what support you need.

You just need to create a markdown file following the guidelines present in our [contributions guide](https://github.com/adambard/learnxinyminutes-docs/blob/master/CONTRIBUTING.markdown) and make a PR!

[2018-09-08 13:56] divayprakash commented on #2919
@cameyo42 Please make a PR for the same.

[2018-09-08 13:58] divayprakash commented on #3009
@JevinJ Feel free to make a PR for the same.

[2018-09-08 16:38] prertik commented on #3130
@ValentinaRodrigues, I'll be reopening this issue. You can send a PR if you feel it is misleading. @divayprakash please, help @ValentinaRodrigues get a good PR to merge. This is a community driven project and whatever the community feels is wrong, is wrong here.

[2018-09-08 16:40] prertik commented on #3136
yeah, it's working now @divayprakash. Looks like you're really clearing the PRs and Issues. Thanks and keep on keepin' on! :+1:

[2018-09-08 16:44] prertik commented on #3054
@divayprakash, if it looks good to you. Go for it.

[2018-09-10 20:08] #3054 closed

[2018-09-11 02:45] divayprakash commented on #3013
Issue has been fixed.

[2018-09-11 02:45] #3013 closed

[2018-09-11 02:47] divayprakash commented on #3015
Issue fixed in #3168.

[2018-09-11 02:47] #3015 closed

[2018-09-11 03:17] divayprakash commented on #3164
@dtkerns Could you try to make a PR for the same?

[2018-09-11 03:18] divayprakash commented on #3011
Closing issue due to inadequate information.

[2018-09-11 03:18] #3011 closed

[2018-09-11 03:33] divayprakash commented on #2774
@nereusx Could you please explain your rationale behind this change? As far as I can understand, the link you referenced does not make any such distinction.

[2018-09-11 03:48] divayprakash commented on #2359
Closing as this project has a much wider variety of languages and tools than supported by KLIPSE.

[2018-09-11 03:48] #2359 closed

[2018-09-11 03:50] divayprakash commented on #2329
Closing as this has been fixed.

[2018-09-11 03:50] #2329 closed

[2018-09-11 03:51] divayprakash commented on #2328
@chris-martin Feel free to send a PR for the same!

[2018-09-11 04:54] #3176 closed

[2018-09-11 04:57] divayprakash commented on #3136
@prertik Just jump in whenever you can, in the meantime I'll try and hold the fort down!

[2018-09-11 04:58] divayprakash commented on #3136
Closing this issue for now. We can reopen this if the problem resurfaces.

[2018-09-11 05:00] divayprakash commented on #3154
Closed in 6f0aec0 under #3167.

[2018-09-11 05:00] #3154 closed

[2018-09-11 13:57] dtkerns commented on #3164
I'm not sure I know the mechanics of github to do a pull request... guess I need to go read a tutorial :|

[2018-09-11 17:44] divayprakash commented on #3164
@dtkerns I'd be happy to help you however possible. Let me know if you need anything. Give the [contributions guide](https://github.com/adambard/learnxinyminutes-docs/blob/master/CONTRIBUTING.markdown) a read.

[2018-09-11 17:49] #2672 closed

[2018-09-11 20:36] divayprakash commented on #2251
Closing as not related to the reported page.

[2018-09-11 20:36] #2251 closed

[2018-09-11 20:42] divayprakash commented on #2095
Fixed in 67e2ff0.

[2018-09-11 20:42] #2095 closed

[2018-09-11 20:57] dtkerns commented on #3164
hope I did it right!

[2018-09-12 07:38] divayprakash commented on #3164
PR #3215

[2018-09-12 07:39] divayprakash commented on #3164
Closed in #3215

[2018-09-12 07:39] #3164 closed

[2018-09-12 18:53] #2730 closed

[2018-09-12 19:28] divayprakash commented on #2774
@adambard Thoughts?

[2018-09-12 20:11] divayprakash commented on #3016
Issue fixed in #3168.

[2018-09-12 20:11] #3016 closed

[2018-09-12 20:14] #3126 closed

[2018-09-12 20:19] divayprakash commented on #3029
Julia tutorial has been updated to comply with v1.0

[2018-09-12 20:19] #3029 closed

[2018-09-13 20:32] adambard commented on #2774
I simply don't think this is important. The index page doesn't really get much traffic, since most people come via search engines to the page they care about in particular, or at least know what they're searching for and can use ctrl+f (because this site is for programmers)

[2018-09-15 15:15] divayprakash commented on #2774
Agreed. I'm closing this issue accordingly.

[2018-09-15 15:15] #2774 closed

[2018-09-17 12:16] divayprakash commented on #3136
@adambard Seems this issue is back. I merged PR #3218 to fix an issue introduced by #3139 in commit 9882d5f over 2 hours ago but the site has not been updated yet.

[2018-09-18 03:59] adambard commented on #3136
A hopefully transient permissionss issue, seems to be resolved for the meantime.

[2018-09-18 03:59] #3136 closed

[2018-09-24 00:42] antofthy opened #3226 "some RE's in PCRE page do not match the comments"
You have expressions like  \d+.\d+.  on the PCRE page
However the comments imply that the '.'  characters are also escaped.
EG: the expression should be something like    \d+\\.\d+\\.
Basically it looks like some of the backslashes need doubling  so the page displays correctly.

Ant

[2018-09-26 13:49] jottr opened #3229 "Question: Does a command line client for learnxinyminutes exist?"
It would be neat to have the option to have the content of learnxinyminutes available on the cli.
Before starting to implement this myself, I'd like to ask if anyone is aware of some tool which already solves this.

[2018-09-27 02:46] divayprakash commented on #3229
@jottr I don't think any such tool exists.

[2018-09-27 08:09] aolko opened #3230 "[Request] [golo] Golo"
How about [Golo](https://golo-lang.org/) [[docs](https://golo-lang.org/documentation/next/index.html)]?

[2018-10-03 13:08] divayprakash commented on #1624
This should be added to the contribution guide.

[2018-10-03 13:32] #2026 closed

[2018-10-03 21:37] #2702 closed

[2018-10-04 14:55] wboka commented on #3007
I like this idea. I'll work on a quick prototype today and send a link when I have something.

[2018-10-04 16:30] #3042 closed

[2018-10-04 19:35] divayprakash commented on #2994
Closed in #3254

[2018-10-04 19:35] #2994 closed

[2018-10-04 21:14] wboka commented on #3007
I think this project deserves its own repository. I have one started at https://github.com/wboka/learnxinyminutes-language-edition if anyone is interested. I think some linking between the projects would be a good idea 👍 . @adambard does this sound good to you? I don't want to steal this out from under you.

If we want to separate the two projects, I suggest moving this discussion to the new proje

[2018-10-04 22:20] adambard commented on #3007
Go right ahead! I think you might need to shore up those tutorials before there's a lot of value to be had cross-linking though ;)

[2018-10-04 22:57] divayprakash commented on #3007
Great work @wboka

@adambard I'm removing this from hacktoberfest issues. Leaving it open now as a reminder for a possible cross-linking effort in the future.

[2018-10-06 03:40] Btup opened #3258 "Add assembly language"

[2018-10-06 03:46] Btup commented on #3258
https://en.wikipedia.org/wiki/X86_assembly_language

[2018-10-06 03:46] #3258 closed

[2018-10-06 21:43] chriszimmerman commented on #2594
I opened https://github.com/adambard/learnxinyminutes-docs/pull/3261 to attempt to address your concerns.

[2018-10-08 10:36] Qix- opened #3267 "[rst/en] double backquote example is unbalanced"
[code]

This makes no sense. There are three double backquotes there. Is there an error with how it's rendered?

<img width="913" alt="image" src="https://user-images.githubusercontent.com/885648/46604502-b6d26a80-cab3-11e8-8d3a-22986ad760c2.png">

Or do you prefix every token in code with double-backquotes? But that wouldn't make sense either because `print()` is suffixed with double backquotes.

[2018-10-08 16:02] divayprakash commented on #3267
@Qix- Thanks for noticing that!

Closed in 215d688.

[2018-10-08 16:02] #3267 closed

[2018-10-08 16:45] Qix- commented on #3267
Thanks, that's much clearer :)

[2018-10-08 17:45] divayprakash commented on #3065
Closed in #3269

[2018-10-08 17:45] #3065 closed

[2018-10-08 17:45] divayprakash commented on #2594
Closed in #3270

[2018-10-08 17:45] #2594 closed

[2018-10-08 17:59] chriszimmerman commented on #3114
I opened https://github.com/adambard/learnxinyminutes-docs/pull/3271 to address this issue.

[2018-10-09 14:53] #3114 closed

[2018-10-09 14:53] divayprakash commented on #3114
Closed in #3271

[2018-10-09 17:01] divayprakash commented on #2279
Has already been fixed.

[2018-10-09 17:01] #2279 closed

[2018-10-09 17:05] divayprakash commented on #2268
Fixed in 08c653a under #2269.

[2018-10-09 17:05] #2268 closed

[2018-10-09 17:09] divayprakash commented on #1624
Contribution guide is clear on the issue. Closing this accordingly.

[2018-10-09 17:09] #1624 closed

[2018-10-09 17:14] #2577 closed

[2018-10-09 17:22] #2578 closed

[2018-10-09 17:34] #2673 closed

[2018-10-09 17:42] divayprakash commented on #2848
PR #3275 WIP

[2018-10-10 02:43] heyitswither opened #3276 "[Request] [gnuplot/en]"
I just recently started learning gnuplot, but I may be able to contribute a bit to this.

[2018-10-10 13:39] #2848 closed

[2018-10-10 19:53] divayprakash opened #3278 "Stale branches"
![image](https://user-images.githubusercontent.com/11337492/46762002-91cc3a80-ccf3-11e8-8dfb-bcace88dca47.png)

@adambard As can be seen in the image above, the project currently has 10 branches, out of which 8 can be deleted without any issue, leaving out `es2015` as it is currently open in PR #2858 and of course `master`. Would it be ok to delete these?

[2018-10-10 20:10] adambard commented on #3278
Go right ahead!

[2018-10-10 20:21] divayprakash commented on #3278
Done!

[2018-10-10 20:21] #3278 closed

[2018-10-13 14:53] jdwalker519 commented on #400
I'm a SQL Server database engineer, and very confused about what it is that's actually needed here, but I would like to contribute.  I'm new to GitHub.

[2018-10-13 15:17] divayprakash commented on #400
@evbarnett Go ahead!

[2018-10-13 16:05] categulario commented on #400
@jdwalker519 the idea is to write a basic guide to SQL with example queries as content, like the rest of the guides in this project (please take a look if you havent https://learnxinyminutes.com/). It shouln't be specific to any RDBMS but istead showcase general SQL language. Contact me if you need guidance with git/github/writing the guide.

[2018-10-15 11:44] #2707 closed

[2018-10-16 17:17] divayprakash commented on #3110
Closed in #3300.

[2018-10-16 17:17] #3110 closed

[2018-10-18 15:05] mbiondi17 commented on #3276
I've got some gnuplot experience, I can probably do a good bit of this. It there a way to assign myself to this issue, or is it just a race-for-the-PR thing? (New to contributing to opensource stuff, sorry)

[2018-10-18 15:52] divayprakash commented on #3276
I'd encourage both of you to work together on this. As @heyitswither Said, he has recently started learning and you @mbiondi17 have some experience with it, so together you could create a really good doc for gnuplot.

[2018-10-18 16:02] divayprakash commented on #2864
Closed in #3302.

[2018-10-18 16:02] #2864 closed

[2018-10-18 16:30] mbiondi17 commented on #3009
I've opened a [PR for this issue](https://github.com/adambard/learnxinyminutes-docs/pull/3305)

[2018-10-18 16:39] mbiondi17 commented on #400
@jdwalker519 -- If you'd like help on the doc, I'm happy to provide some assistance. I'm not a database engineer specifically, but I've worked with SQL quite a lot. This comment history is kind of amusing, but I'd definitely like to see the page get finished.

[2018-10-18 16:49] divayprakash commented on #3009
Closed in #3305.

[2018-10-18 16:49] #3009 closed

[2018-10-19 06:50] jatempa commented on #3178
I want yo work on this, do you want a android app?

[2018-10-19 07:09] divayprakash commented on #3178
@jatempa Not an Android app but a basic overview of Android development process in the format of a LXIYM document. Have a look at any of the docs on the [website](leanrinyminutes.com). Ping me if you need any help!

[2018-10-23 02:15] thornjad commented on #2120
Brainfuck currently displays as bf on the site, is there anything left to do before closing this issue?

[2018-10-23 02:18] ian-bertolacci commented on #2120
I believe this issue can be closed.

[2018-10-24 03:42] #3226 closed

[2018-10-24 18:41] divayprakash commented on #1483
Closed in #3256.

[2018-10-24 18:41] #1483 closed

[2018-10-24 19:44] mn113 commented on #2087
I would be willing to write this page but it would require adding images to the repo and would not be able to strictly follow the "one long code block" format of other pages. Still interested?

In fact with the way the Markdown is converted it would probably be hard to even have any kind of layout going on. Images would have to appear below code examples. It could turn out that every other Graphvi

[2018-10-25 21:05] #3130 closed

[2018-10-25 21:10] divayprakash commented on #3078
Closing due to milestone being past.

[2018-10-25 21:10] #3078 closed

[2018-10-25 21:55] #3172 closed

[2018-10-27 11:53] #3023 closed

[2018-10-27 12:47] #2197 closed

[2018-10-27 12:56] #1467 closed

[2018-10-27 13:06] #3098 closed

[2018-10-27 13:11] divayprakash commented on #2407
@devssh Could you specify where exactly in the document you'd require this change?

[2018-10-27 13:12] divayprakash commented on #3158
@aloisdg Any progress on this?

[2018-10-27 13:17] #3229 closed

[2018-10-27 13:40] divayprakash commented on #2611
This needs to be tested to determine the current situation.

[2018-10-27 18:18] divayprakash commented on #929
This needs to be tested to determine the current situation.

[2018-10-27 18:19] timrowledge commented on #2622
Sorry about the PR confusion; I'm not a git user on any sort of regular basis.
I will attempt to make further improvements soon.

[2018-10-27 18:34] divayprakash commented on #2622
Ok! I'm merging the PR for now to enable you to work on the file. Thank you for the contribution!

[2018-10-27 18:38] divayprakash commented on #2622
These are still left to fix -

d) Method calls: - that really ought to be refer to Message sends. We don't call methods.

[2018-10-31 17:27] shammellee opened #3378 "[Request][OpenGL]"

[2018-11-01 07:13] divayprakash commented on #400
Closed in #3349.

[2018-11-01 07:13] #400 closed

[2018-11-02 08:20] devssh commented on #2407
I think it has changed too much since then, there's no info on how to setup webapp in clojure now?

[2018-11-02 08:20] #2407 closed

[2018-11-02 09:06] divayprakash opened #3384 "[Smalltalk/en] Fix required"
d) Method calls: - that really ought to be refer to Message sends. We don't call methods.

_Originally posted by @divayprakash in https://github.com/adambard/learnxinyminutes-docs/issues/2622#issuecomment-433644977_

[2018-11-02 09:07] divayprakash commented on #2622
Closing this issue. The points left are now present as issue #3384.

[2018-11-02 09:07] #2622 closed

[2018-11-02 09:09] #1040 closed

[2018-11-03 13:40] bobdc opened #3386 "[sql/en] SQL mode pretty messy"
I was very happy to see (as I tweeted at https://twitter.com/bobdc/status/1058000527169077249) the SQL page on learnxinyminutes.com, but https://learnxinyminutes.com/docs/sql/ reminds me of why I originally started the code part with \`\`\` instead of \`\`\`sql. It looked great in github after you had me add the "sql" to that, but in bitbucket and on https://learnxinyminutes.com/docs/sql/ the keyw

[2018-11-03 17:04] divayprakash commented on #3386
@bobdc I agree with you. The code formatting on the site looks pretty terrible right now. I'll look for a solution for escaping apostrophes, failing which we can just remove sql from ```sql.

[2018-11-04 14:16] divayprakash commented on #3386
@adambard There seems to be some issue here that I just can't figure out. The [SQL](https://github.com/adambard/learnxinyminutes-docs/blob/master/sql.html.markdown) doc looks like this on GitHub -

![screencapture-github-adambard-learnxinyminutes-docs-blob-master-sql-html-markdown](https://user-images.githubusercontent.com/11337492/47965157-9fae7a80-e069-11e8-91f8-391a84278ded.png)

It's properly

[2018-11-04 14:43] bobdc commented on #3386
I agree that while the github highlighting looks great, on the site the \`\`\` version without "sql" following it seems like the best option for now.

[2018-11-04 17:38] adambard commented on #3386
Seems to be sorted. I swapped out the double quotes for single quotes too, since those suffer from a similar issue.

[2018-11-04 17:38] #3386 closed

[2018-11-05 05:18] divayprakash commented on #2847
Closing due to lack of clarity on the issue and possible fix.

[2018-11-05 05:18] #2847 closed

[2018-11-07 11:10] reinefjord opened #3388 "[ansible] Link broken (404)"
The link to the Ansible docs is broken and returns a 404 Not Found. To reproduce, visit https://learnxinyminutes.com/docs/ansible/.

[2018-11-08 20:11] ian-bertolacci commented on #2087
Would ASCII graphs be acceptable?https://stackoverflow.com/questions/3211801/graphviz-and-ascii-output

[2018-11-14 23:35] PatMyron commented on #3388
latest commit to that file: https://github.com/adambard/learnxinyminutes-docs/commit/70a2200201f4d3d91ca9f08902dd16d653b10cd2

[2018-11-16 11:57] divayprakash commented on #3388
@adambard Please take a look at what's happening here. I can't figure out why the page isn't being built.

[2018-11-16 16:17] divayprakash commented on #929
Seems to be fixed. I've tested this and it doesn't seem to be an issue now.

[2018-11-16 16:17] #929 closed

[2018-11-16 17:03] z3ugma opened #3396 "[general] - how to build"
When creating a pull request, is there a way to run a local dev version of the site with its custom scripting and 80 character requirements?

I'm especially interested in knowing if there's a syntax highlight for my language (M/MUMPS) or if I have to write one

[2018-11-16 17:04] z3ugma commented on #3396
Alternatively can we add instructions to CONTRIBUTING.md on how to build locally?

[2018-11-16 20:05] z3ugma commented on #3396
Great, thank you! In the meantime I'll keep working on the language tutorial page.

[2018-11-16 21:45] divayprakash commented on #3396
https://github.com/github/linguist/blob/master/lib/linguist/languages.yml

[2018-11-16 21:46] divayprakash commented on #3396
This is the link where you can check syntax highlighting support for any language. According to this, Mumps or M is supported.

[2018-11-17 13:36] divayprakash commented on #3396
PR #3397.

[2018-11-17 13:49] divayprakash commented on #3388
Same issue with the [Processing](https://learnxinyminutes.com/docs/processing) page also.

[2018-11-17 17:52] #3388 closed

[2018-11-17 19:12] divayprakash commented on #1839
@jfahrenkrug Please do make a PR for this!

[2018-11-17 19:15] #3396 closed

[2018-11-18 18:15] JoyceBabu opened #3405 "[Go] Is this a mistake?"
This is my very first tutorial on `golang`. I might be wrong, but the following code appears wrong. Is the function name missing below?

https://github.com/adambard/learnxinyminutes-docs/blame/master/go.html.markdown#L300

[code]

Should it be
[code]

[2018-11-18 18:19] #3405 closed

[2018-11-18 18:20] JoyceBabu commented on #3405
I just realized how the code works.

[2018-12-03 13:13] inkydragon opened #3415 "[html-output] Incorrect line breaks in output HTML"
- [Learn X in Y Minutes: Scenic Programming Language Tours](https://learnxinyminutes.com/)

linebreak in languages tag are not correct. the whole tag should be moved to next line.

I think this is not a web-browser related issue, both chrome and edge has this problem.
And this is also independent of page scaling.

1. bf
![image](https://user-images.githubusercontent.com/5158738/49375466-4ce6e200-f

[2018-12-26 15:24] jimpallomeni opened #3433 "Certificate expired on December 25"
Please renew your Let's Encrypt certificate for the site.

[2018-12-26 20:33] Menelion commented on #3433
Thanks @jimpallomeni for your report. I migrated it to the appropriate repository and CC'd you there. Closing via adambard/learnxinyminutes-site#56.

[2018-12-26 20:33] #3433 closed

[2018-12-27 08:48] divayprakash commented on #3049
PR #3434

[2018-12-27 12:47] divayprakash commented on #2276
@ilev4ik Please take a look at the fix in #3435.

[2018-12-28 19:40] divayprakash commented on #3049
Closed in #3434.

[2018-12-28 19:40] #3049 closed

[2018-12-28 19:41] #2276 closed

[2019-01-07 08:59] xftroxgpx opened #3443 "[rust/en] untrue "// var = 5; // this would not compile because `var` is borrowed""
## Is this a major issue that you cannot fix?
yes

Here: https://learnxinyminutes.com/docs/rust/
in the following context:
[code]

The commented line `// var = 5; // this would not compile because `var` is borrowed` is apparently not true because uncommenting it shows that the program still compiles and runs, as seen here: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=117

[2019-01-08 05:42] salomaosnff opened #3444 "[Stylus/pt-br] Stylus is not listed at https://learnxinyminutes.com/"
I recently did a pull request with the new stylus language. the pull request was accepted but has not yet appeared on the website.

[2019-01-08 18:32] divayprakash commented on #3444
@adambard Please check.

[2019-01-09 00:18] adambard commented on #3444
The site uses the english-language articles as its index, so for now I've added a stub for the english version to allow the pt-br one to be discovered .I also changed the highlighting to scss, stylus support isn't present yet it seems.

After doing those two things the page is available on the site!

[2019-01-09 00:18] #3444 closed

[2019-01-28 17:11] aakreidler opened #3456 "[Request] AppleScript"
Please add AppleScript.

Thanks

[2019-01-31 12:34] wantra2 opened #3457 "[c++/fr] sizeof(char) == sizeof(int)"
hello,
it is said in the c++ french tutorial that, **in c**, sizeof(char) == sizeof(int). According to me it is rather sizeof(char) = 1 and sizeof(int) = 4 (most of the time).

[2019-01-31 20:40] Menelion commented on #3457
@wantra2 Thanks for your report. What about other languages? It seems, English tutorial states the same. I'm not a C++ guy, so, @geoffliu, could you please investigate?

[2019-01-31 21:36] geoffliu commented on #3457
@wantra2 The doc is correct, and so are you. :)

Your confusion is exactly what those two lines are trying to clear up. So in C:
[code]

This is there for historical reasons, and people decided to fix it when C++ came around, so that type of `'a'` went back to `char`

[2019-01-31 21:37] #3457 closed

[2019-02-04 12:19] vedia opened #3461 "Missing link for HTTP"
Hi,

On page https://learnxinyminutes.com/ there are two HTML link. One of goes to Turkish HTML page, other ones goes English HTML page.

Link for  Turkish HTML page needs to be correct. (Like HTML to tr-tr)

I want to correct this in github, but I coudn't find that page.

[2019-02-05 03:54] #3461 closed

[2019-02-06 17:04] LeaveNhA commented on #3456
Maybe, I can.
I'll research and inform.

[2019-02-12 15:16] dargonforce opened #3469 "[Request] Papyrus"
Add tutorials for Papyrus

[2019-02-12 15:16] dargonforce opened #3470 "[Request] Vulkan"
Add documentation for Vulkan graphics API

[2019-02-16 11:07] Mouvedia opened #3476 "[Request] Pony"
https://learnxinyminutes.com/docs/pony/ returns a 404
http://www.ponylang.io/
ponylang/ponyc#2994

[2019-02-18 06:53] Youguang opened #3479 "[r/en] RCurl load data error in r.html.markdown"
[code]

get this:

[code]

R version 3.4.4 (2018-03-15);  RCurl version 1.95.4.10.

[2019-02-19 23:31] Menelion commented on #3479
@e99n09 @kalinn Any thoughts, please? I mentioned you because you contributed to our article about the R language. Thanks!

[2019-02-22 18:39] PatMyron opened #3483 "[Request] Sed"

[2019-02-24 05:10] z-adams opened #3485 "Certificate expired"
It seems the site certificate expired yesterday, and is causing the browser to give warnings again. Please renew!

[2019-02-24 09:38] Menelion commented on #3485
@z-adams s Please see adambard/learnxinyminutes-site#56.

[2019-02-24 09:38] #3485 closed

[2019-02-25 21:32] atobi16 opened #3486 "[Asymptotic Notation] Small text error"
Only a small issue: "Is there some pair of constants c, n0 that satisfies this for all n > _0?" halfway down the page, in example one of the Big-O section.
![image](https://user-images.githubusercontent.com/15620738/53370256-479ecb00-391b-11e9-86f9-bff5e579baf5.png)

[2019-02-26 11:43] #3486 closed

[2019-02-28 12:22] Lixinyi-DUT opened #3487 "typo in lambda calculus/Boolean Logic"
Does `a NOT b` mean `NOT a`? The later makes more sense.

[2019-02-28 13:05] divayprakash commented on #3487
Effectively yes, but the explanation given says the same -

`λa.IF a F T` equates to saying

[code]

[2019-02-28 13:08] divayprakash commented on #3479
@Youguang The error returned is due to a redirect from `http` to `https`. I'm fixing it now.

[2019-02-28 13:10] #3479 closed

[2019-03-01 06:13] Lixinyi-DUT commented on #3487
I mean `NOT` is traditionally an unary operator, so `a NOT b` could be misunderstood as `a != b`, which is confusing and ambiguous.

I completely agree on the explanation that `NOT a` can be expressed with such an if statement.

[2019-03-01 16:59] divayprakash commented on #3487
@maxsun @yanhh0 Could you please weigh in on this?

[2019-03-01 18:13] maxsun commented on #3487
@divayprakash @Lixinyi-DUT Sorry, you are correct - I think it should be `NOT a`

[2019-03-14 08:54] aloisdg opened #3493 "[Request] Ada"

[2019-03-18 06:44] #3487 closed

[2019-03-21 19:32] 4goodapp opened #3500 "Where can I get source file for each language?"
Currently I when I clone the repository, all language are in markdown file. and downloading source code one by one through the web site, well I think there must be an easier way.

[2019-03-25 17:14] adambard commented on #3500
The source code download is constructed by parsing the markdown files, extracting the source code bits, and concatenating them together.

If you set the learnxinyminutes-site project and run the build script, it will generate the source files, and all you'll need to do is retrieve them from the built site.

[2019-03-26 11:54] cjcbusatto opened #3505 "[p5/en] Layout problem"
There is a formatting problem on the [p5-en documentation page](https://learnxinyminutes.com/docs/p5/)

![issue](https://user-images.githubusercontent.com/2424996/54995124-4f0ece00-4fc6-11e9-8e91-539fcbc01975.PNG)

[2019-03-26 18:19] divayprakash commented on #3505
Closed by #3506.

[2019-03-26 18:19] #3505 closed

[2019-04-03 13:39] i336 opened #3509 "[kdb+/en] Syntax highlighting is broken"
[The syntax highlighter needs revamping, IMHO.](https://github.com/adambard/learnxinyminutes-site/issues/59)

Like [the forth-related highlighting issues a while back](https://github.com/adambard/learnxinyminutes-docs/issues/2861), the kdb+ page is breaking on `'` single-quote characters.

I have to admit I had to stop reading because the yellow was too harsh.

https://learnxinyminutes.com/docs/kd

[2019-04-07 18:25] Botster opened #3513 "Grammatical errors in the English Haxe doc"
[haxe/en]

## Is this a major issue that you cannot fix?
Not a major issue, but one I cannot fix without forking the project.

**[snip]The changes can be typo fix, fixing of data in examples or grammar fix. If you found it,
why not do it and take full credit for it?**
Why would I want credit for it?

There are a couple of grammatical errors in the English Haxe doc:

First: Under "Switch Statements

[2019-04-07 22:45] oemmerson opened #3514 "[awk/en] Title is Wrong"
This isn't very important but I noticed it:

Page titles for the other languages are specialised e.g. 'Learn c in Y minutes.' However the page title for AWK is 'Learn X in Y Minutes: Scenic Programming Language Tours.'

That title doesn't show up in a search of this repository so I couldn't fix it myself.

Thanks for the site.

[2019-04-13 23:18] asemic-horizon opened #3515 "[Prolog] operator x->y is hastily introduced and then used in a complex example"
`->` is introduced in `countUpTo2` as a "more elegant syntax" equivalent to `countUpTo`, but its meaning is not really explained, and the next example `safe` flies over the reader's head because of that.

[2019-04-22 14:29] Btup opened #3520 "[Request] a few languages"
There are a few languages that are not in this website that have gained popularity in the TIOBE Index:
SAS
ABAP
Apex
ML
Erlang

[2019-04-28 19:36] jonasknobloch opened #3523 "SSL certificate expired"
[code]
[code]
Seems like the SSL certificate expired yesterday.

[2019-04-28 22:49] stefan2904 commented on #3523
I guess the ACME/certbot renew cronjob is broken ...

[2019-05-04 11:31] Lisiadito commented on #3523
Not 100% related but I was not sure if I should open a new issue for that. But maybe consider using the `https` instead of the `http` version of the link to learnxinyminutes in the repository description.

[2019-05-04 17:52] celtic-coder commented on #3523
The certificate now looks OK: https://www.ssllabs.com/ssltest/analyze.html?d=learnxinyminutes.com.

However, there is an issue with the server on which it is installed. A sysadmin would need to look at the "nginx" solution mentioned here: https://weakdh.org/sysadmin.html

[2019-05-10 09:16] XVilka opened #3529 "[Request] COBOL"
Don't laugh, sometimes life makes you do worse things.

[2019-05-10 20:21] divayprakash commented on #3523
@adambard Could you take a look at this? Just check the SSL Labs link and it'll show the issue.

[2019-05-10 20:33] #3513 closed

[2019-05-10 20:50] adambard commented on #3523
Status of the cronjob is that the cert is renewed correctly, but nginx reload is failing for some reason. Will address, hopefully before August.

I'm not *too* worried about logjam on this completely static reference site, especially given the demonstrable alertness of our kind users to potential issues, but now that it's been pointed out I guess I'll update the DH params while I'm in there :P

[2019-05-24 06:25] LamdaLamdaLamda opened #3537 "[C++] Duplicated C++ links."
There are two C++ links on [learnxinyminutes.com](https://learnxinyminutes.com/). One redirects to the German version. The other refers to the English one.

[2019-06-02 15:23] Jgfrausing opened #3544 "[C++] Add description of smart pointers"
unique_ptr and shared_ptr are mentioned once in a comment, but there is no description of what it is or when to use it.

[2019-06-05 16:43] #3537 closed

[2019-06-13 03:14] obscurecolin opened #3546 "[C++] Constructive Criticism"
### Constructive criticism (I hope :/)
* A lot of these output examples use `printf` as it's previously used in the "C standard version" of the _Hello, World_ program. The examples I'm talking about are where the calls are of the form `printf("xxx\n");` where there are no format specifiers, no following `va_args`, and the string literals end with a newline character. All of these ought to be calls

[2019-07-02 13:17] Busti opened #3557 "[Request] HolyC"
https://rosettacode.org/wiki/Category:HolyC

[2019-07-05 09:59] bitwombat opened #3560 "[haskell/en] Link broken"
The link http://book.realworldhaskell.org/ takes the reader to some weird Red Bean software site... I'd open a PR, but it appears the author may have taken the free/online version offline.

[2019-07-15 11:04] lukepighetti opened #3565 "[swift/en] returning functions example doesn't use named arguments"
[code]

I believe the correct syntax for calling the returned function is `increment(number: 7)`. Can someone please confirm?

[2019-07-16 16:54] MohammadRahaman opened #3573 "creating dropdown box and filtering items using yml"
## Is this a major issue that you cannot fix?

YES, I can't apply anything due to this issue!!!!

I am trying to create dropdown box where it display all of the items  but I couldn't find any yml syntax which  supports to filtering items and create a dropdown from where I will select item to build job!!

**Being a commusnity driven documents of languages and tools,"YOUR" contributions
are also imp

[2019-07-25 10:00] XVilka opened #3580 "[Request] [language/lang-code] APL"
APL (named after the book A Programming Language) is a programming language developed in the 1960s by Kenneth E. Iverson. Its central datatype is the multidimensional array. It uses a large range of special graphic symbols to represent most functions and operators, leading to very concise code. It has been an important influence on the development of concept modeling, spreadsheets, functional prog

[2019-07-30 20:17] LamdaLamdaLamda opened #3583 "[C/en] describing the possibility of implementing object orientation"
Generally its possible to implement the object oriented abstractions in C. For instants **inheritance** or **overloading**. This is widely used in the Linux kernel.
An introducing example would be sufficient.

[2019-07-31 07:40] KamranAzeem opened #3584 "Nested lists are missing"
Your article is missing nested lists. Here is what I suggest adding:

## Code:
[code]

## Generates:
* list item 1
* list item 2
  * sub-list item 1
  * sub-list item 2
* list item 3

[2019-08-02 06:16] gitcnd opened #3586 "python3: incorrect example of iterator elements?"
This wording appears:-

[code]

but "filled_dict.keys()" is not an iterator according to the definition preceding this example.

Also, that example is confusingly different to all the preceding ones, variables "our_iterator" and "our_iterable" should be used to maintain style and consistency (and readability - the variable names are self explanatory).

** I do not know python - sorry I can't sugge

[2019-08-02 06:20] gitcnd commented on #3586
This is the page I refer to by the way:-

https://learnxinyminutes.com/docs/python3/

Note also that there are no #tags in there, making it impossible to refer directly to specific sections of this huge doc... putting some in would be a GREAT idea!

[2019-08-02 06:27] gitcnd opened #3587 "python3: unexplained @ thing (convention?) introduced"
Something, I don't know what, that begins with a snail magically appears in this document ( .https://learnxinyminutes.com/docs/python3/ ) section 6 with no explanation:-

[code]
What is "@classmethod", and what does it do, and what other things can go there?  If it's just a do-nothing comment, we should be told such things exist someplace, and it shouldn't be all-lower-case in that situation.

[2019-08-02 06:28] gitcnd commented on #3587
(Note that my question is rhetorical - I don't want anyone to tell me the answer - the answer needs to go into the document!)

[2019-08-03 18:19] divayprakash commented on #3544
Closed in #3579.

[2019-08-03 18:19] #3544 closed

[2019-08-04 08:31] divayprakash commented on #3378
Closed in #3577

[2019-08-04 08:31] #3378 closed

[2019-08-04 08:33] divayprakash commented on #2681
Closed in #3582

[2019-08-04 08:33] #2681 closed

[2019-08-04 08:47] divayprakash commented on #3108
Closed in #3576

[2019-08-04 08:47] #3108 closed

[2019-08-04 08:51] divayprakash commented on #3002
CLosed in #3569

[2019-08-04 08:51] #3002 closed

[2019-08-04 21:56] LamdaLamdaLamda opened #3592 "[C/de] adding german language"
Translating the english c version to german.

[2019-08-05 11:39] ashraf-patel commented on #3178
@jatempa @divayprakash I can also contribute to Android, let me know if you guys need any help

[2019-08-16 17:02] smsm2014 opened #3606 "[c++] Incorrect description of virtual keyword."
I found the following sentence is not correct.
A function can be overridden in derived classes even it is not declared _virtual_.

"    // Also note the functions must be explicitly declared as _virtual_
    // in order to be overridden in derived classes."

[2019-08-20 14:26] divayprakash commented on #3573
@MohammadRahaman Could you please explain what exactly you are looking for here?

[2019-08-20 14:28] divayprakash commented on #3560
@bitwombat Seems to be resolved now.

[2019-08-20 14:28] #3560 closed

[2019-08-23 05:04] paravz opened #3611 "[c/en] link to http://c.learncodethehardway.org/book/ is broken"
Link at the bottom of C doc is broken: http://c.learncodethehardway.org/book/
The correct location seems to be https://learncodethehardway.org/c/, but there is no free access to the book at that URL, only a link to purchase it.

[2019-09-18 17:05] nn-uark19 opened #3624 "no file myFile.mat in the matlab section"
Url: https://learnxinyminutes.com/docs/matlab/

There is no file myFile.mat for the Matlab section.

[2019-09-23 13:04] hyj1116 opened #3629 "There seems wrong description for the list type"
I read the "Learn Python in Y minutes(https://learnxinyminutes.com/docs/python3/)" and found the line 211 and line 213 seems to be located wrong.

The line 211 "**# Omit the beginning and return the list**" should be used for the line 214 "**li[1:3]   # => [2, 4]**".

And the line 213 "**# Omit the beginning and return the list**" should be used for the line 212 "**li[1:3]   # => [2, 4]**".

In ot

[2019-09-24 04:48] #3629 closed

[2019-09-26 21:35] heitorPB opened #3631 "[Request] Docker"
[Docker](https://www.docker.com/) is a very useful tool. It would be great to have it in Learn X in Y minutes.

[2019-10-01 20:37] rodgeraraujo opened #3661 "[request] Aditional translations to pt-br"
## Is this a major issue that you cannot fix?

**Being a community driven documents of languages and tools,"YOUR" contributions
are also important.
If the issue you're reporting is trivial to report to maintainers why not contribute
to fix it. In that way, you will have contributed to an awesome open-source project.
The changes can be typo fix, fixing of data in examples or grammar fix. If you fou

[2019-10-03 07:37] gaufung opened #3669 "[Powershell/zh-cn] Poweshell in Simplified Chinese"
## Is this a major issue that you cannot fix?
Yes
Support Powershell in Simplified Chinese.

[2019-10-04 20:48] megatux opened #3674 "[Request] [language/dart-2.x] Current Dart page is the v1.x, add v2.x or replace?"
I'm not sure how to proceed, I'm almost new here.
The current Dart lang. page is for the old 1.x specification. The 2.x specification is _very_ different, e.g. the type system changed completely. It was a major revamp of the language to be used in the Flutter framework.
I want to update/add the Dart docs. How do I proceed?

[2019-10-05 06:50] AugustKarlstedt opened #3675 "[Request] Lean"

[2019-10-09 00:38] heitorPB commented on #3611
in the `make` tutorial there are links for exercises from this book:
- http://c.learncodethehardway.org/book/ex2.html
- http://c.learncodethehardway.org/book/ex28.html

I can't access those links, do you know if they still exist somewhere?

[2019-10-10 05:17] XVilka commented on #3675
Related: https://github.com/adambard/learnxinyminutes-docs/issues/3161

[2019-10-14 15:07] ysads commented on #3583
I think I'm aware of the feature you're talking about, but I'm not sure this can be described as "object-oriented abstractions". You mean the structs nesting and so?
Anyways, I think I'll work on some examples for these behaviours.

[2019-10-15 10:28] javatlacati opened #3705 "[Request] Javascript/React"
I don't have enough knowledge to write something about [this framework](https://reactjs.org/tutorial/tutorial.html) but certainly it would be a nice-to-have.

[2019-10-23 03:35] antofthy opened #3723 "non-error - delete me"
For get it -- made a mistake

[2019-10-23 03:38] #3723 closed

[2019-10-26 22:28] anakimluke opened #3732 "[latex/en] Possible misplacement of $ character."
Line 126 goes
[code]
where I think it should go as
[code]

See the difference between the original(first) and the modified version(second line):
![image](https://user-images.githubusercontent.com/22756345/67626726-094d0900-f826-11e9-9c38-7485c0d45a32.png)

The proposed modified version looks prettier/*more right* to me, but as I'm new to latex I wanted for someone else to confirm this.

[2019-10-29 20:02] AcProIL commented on #3732
You are definitely right, $$ have to surround the entire formula.
To be even cleaner, one could use \( and \) as delimiters instead of dollar signs.

[2019-10-29 20:03] OrangeNeutron commented on #3732
You are definitely right, $$ have to surround the entire formula.
To be even cleaner, one could use ( and ) as delimiters instead of dollar signs.

[2019-10-30 19:39] #3586 closed

[2019-11-07 01:23] UlisseMini commented on #3587
Its a decorator, `@classmethod` marks the method as a `classmethod` as the comment explains, Though it might be good to move the section on decorators higher up, so as to not confuse people with new syntax with no explanation.

[2019-11-09 10:26] astriskit commented on #3705
That's a nice suggestion. I have been using react myself - could contribute to it too;

[2019-11-09 16:02] ratatoeey commented on #3705
rename title to remove Javascript.

----

regards ratatoeey

[2019-11-09 16:04] ratatoeey commented on #3523
doesn't show as expired in firefox.

does it support browsers that have been set to using tls 1.3 as minimum tls version allowed.
----

regards ratatoeey

[2019-11-09 16:59] adambard commented on #3523
I've just upgraded the server -- TLS 1.3 is now supported.

[2019-11-11 05:12] vasanthaganeshk opened #3765 "[Request] Helm charts"
Helm charts for Kubernetes would be nice.

[2019-11-14 17:39] abrudz commented on #3580
There's a fork which has it: https://github.com/nooodl/learnxinyminutes-docs/blob/master/apl.apl

[2019-11-15 03:06] XVilka commented on #3580
It's a bit too short.

[2019-11-19 17:29] #3161 closed

[2019-11-20 14:42] krain-arnold opened #3778 "[ansible/en] Unclear statement under Cons"
Under "Cons", (line 46) it states "It is an agent-less tool - every agent consumes up to 16MB ram - in some environments, it may be noticable amount." This appears to have been intended to be placed under Pros. However, Ansible's agentless architecture is already listed under Pros (line 33). I would gladly fix this and submit a pull request but it is unclear to me what the author is trying to say

[2019-11-20 16:36] Menelion commented on #3778
@sirkubax @PatMyron What do you think?

[2019-11-21 04:11] XVilka opened #3779 "[language/coq] Coq support was merged, but is not shown on the site"
Coq support was merged in the master: https://github.com/adambard/learnxinyminutes-docs/commit/4653df70c36456bd995d846027706641a156683e (PR [#3759](https://github.com/adambard/learnxinyminutes-docs/pull/3759))

But it is not available on the site:

![image](https://user-images.githubusercontent.com/203261/69303410-dc8ae680-0c57-11ea-8ef0-a62230ffe689.png)

[2019-11-24 07:19] divayprakash commented on #3779
@adambard There is some error in the build on the server. The page builds locally without errors but is not showing up on https://learnxinyminutes.com/

[2019-11-24 21:42] adambard commented on #3779
Got it, some ruby/bundler version issues. It's up there now!

[2019-11-24 21:45] #3779 closed

[2019-11-26 18:03] flanagansteve opened #3785 "Information regarding Node?"
It seems like there's a great JS tutorial. I've done a good bit of JS / React but am totally in the dark on Node, and haven't found a good tutorial.

Does the JS tutorial cover everything you need to know about Node fundamentally, and I just need to invest time in learning the setup / devops of a Node application?

Or would it be worthwhile to do a standalone Node tutorial?

[2019-12-05 09:10] Atemu commented on #3631
Do you mean the docker CLI tool or `Dockerfile`s?

[2019-12-05 20:15] heitorPB commented on #3631
IMHO it would be nice to start with the CLI, then go to Dockerfiles and
finally cover docker compose. What do you think?

On Thu, 5 Dec 2019, 06:10 Atemu, <notifications@github.com> wrote:

[2019-12-30 14:33] Abhimanyu512 opened #3804 "Angular js - code file not found"
On the angular.js page, there is a link for getting the code - angularjs,html. Clicking on this link gives a 404 not found error.

[2020-01-02 07:39] javatlacati opened #3806 "translation system"
I was just checking

https://gitlocalize.com/

I think it could be useful for speeding up the translation process, I think it would require folder rearrangement.

[2020-01-09 11:28] PerMildner opened #3807 "[c++] std::shared_ptr circular reference example incorrect?"
https://learnxinyminutes.com/docs/c++/

I do not think the example creates or exemplifies circular pointers.

[code]
The `doggo_one`/`doggo_two` manipulation just looks like it changes which `Dog` instance the smart pointers refers to, without creating any cycles.

I do not know C++ (that's why I'm here) but my guess is that circular (smart) pointers would require, e.g., that each `Dog` object to

[2020-01-12 04:34] imba-tjd opened #3811 "[markdown] Missing content on the website but existing in the source code"
There are some content exist in source code, and exist after GitHub's rendering, but missing on the website.

![图片](https://user-images.githubusercontent.com/24759802/72214131-32348e80-3537-11ea-9b96-8ac912190b76.png)
https://learnxinyminutes.com/docs/zh-cn/markdown-cn/

![图片](https://user-images.githubusercontent.com/24759802/72214137-48dae580-3537-11ea-89b2-33707a49d747.png)
https://github.com/a

[2020-01-16 02:59] ram231 commented on #3674
While the documentation is preferable in the [official docs](https://flutter.dev).
Some people really want to skim/scan the dart syntax.
I would like to participate in updating the documentation.

[2020-01-21 16:06] megatux commented on #3674
Where/who currently use Dart v1.x? Are still real active users/apps of this version?

[2020-01-22 04:21] ram231 commented on #3674
I don't know that much. Most users have migrated from v1.x to v2.
refer to PR #3820 . I have not yet  included **extension methods**. It's still not ready for stable release according to the Dart Team.

[2020-01-28 21:33] horrido opened #3829 "Poor formatting of text in Learn Smalltalk in Y Minutes"
Visit https://learnxinyminutes.com/docs/smalltalk/.

Under "Simple syntax", the following paragraph is difficult to read because all the points run together. They should be formatted into an unordered list, at least.

**There are three sorts of messages - unary - a single symbol that may be several words conjoined in what we call camelcase form, with no arguments. For example ‘size’, ‘reverseBytes

[2020-01-30 08:24] mxschumacher commented on #3829
Hey @horrido - readability is important, feel free to submit a PR that makes this paragraph easier to read and understand. Have a nice day!

[2020-01-30 20:37] divayprakash commented on #3631
Closed by #3805

[2020-01-30 20:37] #3631 closed

[2020-01-30 20:45] divayprakash commented on #3829
Fix in PR #3832

[2020-01-30 20:52] divayprakash commented on #433
@adambard Maybe we can start with the frameworks section with Meteor JS itself. It's been merged in #1711

[2020-01-30 20:53] divayprakash commented on #433
We also have docs on AngularJS in the project now.

[2020-01-30 22:29] mxschumacher commented on #3829
Okay, fix is merged. I'm closing this issue!

[2020-01-30 22:29] #3829 closed

[2020-01-31 00:48] caminsha commented on #3592
Started to translate C to German.
You can see progress [here](https://github.com/caminsha/learnxinyminutes-docs/blob/de-de/c/de-de/c-de.html.markdown).

Maybe I will need some days for it as it is a quite long article.

[2020-01-31 06:22] ram231 commented on #3674
UPDATE: I don't know if the author really want to merge my pull request to add additional features to the dart language. It's up to the Dart's documentation found in http://dart.dev

Bye.

[2020-02-02 09:44] divayprakash commented on #3674
Fix in #3820

[2020-02-02 09:53] divayprakash commented on #3592
WIP #3839

[2020-02-02 09:56] divayprakash commented on #3611
Fixed in #3683

[2020-02-02 09:56] #3611 closed

[2020-02-02 09:58] divayprakash commented on #3584
Closed due to inadequate information.

[2020-02-02 09:58] #3584 closed

[2020-02-02 09:59] divayprakash commented on #3573
Closed due to inadequate information.

[2020-02-02 09:59] #3573 closed

[2020-02-02 10:04] divayprakash commented on #3669
Closed in #3670

[2020-02-02 10:04] #3669 closed

[2020-02-02 10:11] #3500 closed

[2020-02-02 10:14] divayprakash commented on #3523
@adambard I believe this can be closed now?

[2020-02-04 18:41] adambard commented on #3523
@divayprakash At least until the next time my cron job fails

[2020-02-04 18:41] #3523 closed

[2020-02-04 18:46] adambard commented on #433
Seems reasonable -- all that's needed is to set `category: Frameworks` in the relevant (english) docs and they'll be grouped automatically.

[2020-02-05 11:20] mxschumacher commented on #3592
The translation has been merged, thanks @caminsha !

[2020-02-05 11:20] #3592 closed

[2020-02-06 12:21] #3674 closed

[2020-02-06 23:18] jdjohnston opened #3844 "[Vimscript/en] line continuation and calling user functions"
As a 20+ years user of Vim, I was pleased to see a description of Vimscript AKA VimL included. However there are a couple of small items that need to be fixed. If HiPhish doesn't get to them, I'll see if I can get a PR ready. (It's been a while :))

Lines 45-46: "... pacing [sic] a backslash as the first non-whitespace ... "
Changing the obvious typo to "placing" improves the sentence, but it coul

[2020-02-07 16:44] javatlacati opened #3846 "[Request] [language/laravel] PHP Laravel [framework]"
I've jumped recently with some code in PHP that looks so good, It used the framework named Laravel.

I'd like to know more, and I think it's a very popular framework.

Please consider adding it.

[2020-02-07 18:58] akaguny opened #3847 "site was blocked in russia"
https://isitblockedinrussia.com/?host=learnxinyminutes.com

[2020-02-08 22:25] petrroll opened #3850 "[python3/*] Python3 is listed twice at the website."
It seems that python3 is listed twice, once as only en version `python3` and secondly as `python-gr` with all other languages under it.

I can't immediately see why, though I haven't drilled into it.

[2020-02-09 15:30] divayprakash commented on #3850
@petrroll This seems like a quickfix, I'm looking into it.

[2020-02-09 16:43] #3850 closed

[2020-02-14 12:33] deepzeafish opened #3858 "defun() does not work"
[code]
Evaluating here does not work like expected. The function definition does not evaluate to 'hello' but prints the complete insert string.

[code]
This results in: Debugger entered--Lisp error: (void-function hello)

All tested in Emacs 26.3

[2020-02-16 09:18] MikaelKemstedt commented on #3514
It is like this for almost all the docs under the "Tools" section.

Only Qt Framework is different, it shows "Learn c++ in Y Minutes"

[2020-02-16 17:02] MikaelKemstedt commented on #3529
I'm almost done with this one.

Need to format it a bit better,
Add some file statement information,
As well as add some info about intrinsic functions.

[2020-02-17 05:05] XVilka commented on #3529
Linked PR: https://github.com/adambard/learnxinyminutes-docs/pull/3859

[2020-02-22 01:44] KoenigKrote opened #3863 "[C/en] - Variable Declaration is misleading"
The comment block explaining variable declarations is a bit misleading.
To a new user of C, it implies that all variables must be declared at the top of the current scope.
It clarifies this immediately after, stating that C99-compliant compilers do not require this, but it is still a misleading way to introduce the concept.
I have reworded this and made a pull request that more explicitly states h

[2020-02-23 07:27] divayprakash commented on #3863
Closed in #3864

[2020-02-23 07:27] #3863 closed

[2020-03-02 17:05] davisorte opened #3875 "Connected to the target VM, address: 'localhost:8602', transport: 'socket'"
## Is this a major issue that you cannot fix?

**Being a community driven documents of languages and tools,"YOUR" contributions
are also important.
If the issue you're reporting is trivial to report to maintainers why not contribute
to fix it. In that way, you will have contributed to an awesome open-source project.
The changes can be typo fix, fixing of data in examples or grammar fix. If you fou

[2020-03-17 22:21] #911 closed

[2020-03-19 06:27] A-ee opened #3887 "[Request] Io"
* [Site](http://iolanguage.org/index.html)

[2020-03-25 16:20] Carl20cent opened #3894 "[javascript/fr] Example with for..of on a object literal => TypeError: ... not iterable !"
Hey !
There is a little problem on the French version of the JavaScript page (this part is okay on the English version)
The problematic part is :
[code]
When you try this, you will have an error :  **Uncaught TypeError: person is not iterable**
And it is normal because a object literal is not iterable !

To fix, it could be possible to just translate the english part like this (and sorry but i'm n

[2020-03-26 13:11] mxschumacher commented on #3894
Hey Carl,

thanks for pointing this problem out.

Your solution is fine, maybe we can also transition to ES6. e.g. const/let instead of var

Making a contribution is not difficult, I encourage you to try it out. :) It's a good skill to have.

Here are the required steps: https://gist.github.com/MarcDiethelm/7303312

With git clone, commit, add and push you should already get quite far !

[2020-03-26 13:12] #3887 closed

[2020-03-26 13:13] #3875 closed

[2020-04-02 14:27] alessiobenvenuti opened #3896 "[p5/it-IT] Add italian language for p5"
- [X] I solemnly swear that this is all original content of which I am the original author
- [X] Pull request title is prepended with `[language/lang-code]`
- [X] Pull request touches only one file (or a set of logically related files with similar changes made)
- [X] Content changes are aimed at *intermediate to experienced programmers* (this is a poor format for explaining fundamental programming

[2020-04-02 15:10] #3896 closed

[2020-04-07 17:01] tomoda opened #3899 "What a fine tutorial this is!"
## Is this a major issue that you cannot fix?

**Being a community driven documents of languages and tools,"YOUR" contributions
are also important.
If the issue you're reporting is trivial to report to maintainers why not contribute
to fix it. In that way, you will have contributed to an awesome open-source project.
The changes can be typo fix, fixing of data in examples or grammar fix. If you fou

[2020-04-07 17:38] tomoda commented on #3899
The major issue is a **thank you!**
After battling to get slime working with no success it occurred to me, that Emacs may not even need a connection to SBCL or the like. Eventually I found your short and to the point tutorial. Very glad!
I had one hickup which has nothing to do with you: In an exercise you show a format string with a backslash. Since I do not have a backslash on my keyboard, I had

[2020-04-07 17:38] #3899 closed

[2020-04-23 15:45] VamshidharReddyVemula opened #3915 "Text error in string delimiter."
In the output the value of aDouble is not displayed. It is missing a backslash in front the paranthesis.

let explanationString = #"The string I used was "The value of aDouble is \(aDouble)" and the result was \#(descriptionString)"#

solution:
let explanationString = #"The string I used was "The value of aDouble is \#(aDouble)" and the result was \#(descriptionString)"#

[2020-04-24 06:35] divayprakash commented on #3915
@VamshidharReddyVemula Could you please specify which document this is in regards to?

[2020-04-30 04:17] sriramvsharma commented on #3705
+1. I would really like that too!

[2020-05-01 23:54] caminsha commented on #140
Hello

As I don't really know vimscript I want to get some insight. For me it would make sense (and help me) to translate the english version to german during the learn process.

Is the English version more or less complete so it could be translated? Or should I wait with the translation?

[2020-05-27 07:53] galanoblcu commented on #3847
Also blocked in China.
Hahaha, this is so soviet.

[2020-05-27 07:56] galanoblcu opened #3938 "Site was blocked in China"
As the title goes, the site has been blocked in China for quite a while.
I know it's due to the GFW...

I'm publishing this via vpn, however, most of my students cannot access to the site. Of course they can visit github at least for now.

[2020-05-27 07:59] imba-tjd commented on #3847
What's your proof?

[code]

http://ping.chinaz.com/learnxinyminutes.com

[2020-05-27 08:05] imba-tjd commented on #3938
It's simply slow from China, but definitely not blocked. It's similar to github's release, using Amazon S3. Or you can try to use 数据流量 instead.

[2020-05-27 08:13] galanoblcu commented on #3938
[Image.jpeg]
Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: 谭九鼎 <notifications@github.com>
Sent: Wednesday, May 27, 2020 4:05:49 PM
To: adambard/learnxinyminutes-docs <learnxinyminutes-docs@noreply.github.com>
Cc: fredy-january <galano.han@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [adambard/learnxinyminutes-docs] Site was blocked in China (#39

[2020-05-27 08:16] galanoblcu commented on #3938
[Image.jpeg]

With VPN activated, access to learnxinyminutes was restored.

Regards,
Galano
Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: galano han <galano.han@outlook.com>
Sent: Wednesday, May 27, 2020 4:13:44 PM
To: adambard/learnxinyminutes-docs <reply@reply.github.com>; adambard/learnxinyminutes-docs <learnxinyminutes-docs@noreply.github.com>
Cc: Author <au

[2020-06-01 11:40] gitjeff2 opened #3944 "[request] [en/raku] More Details on Raku Grammars"
The Raku document covers regexes fairly well. But, it stops short of explaining grammars. One of Raku's major selling points is the power of its text-parsing grammars. Unfortunately, they're also not the easiest language feature to wrap your mind around &mdash; even if you already have a decent understanding of regular expressions.

If the subject is too dense, it might be worth splitting it up: h

[2020-06-01 22:38] anakimluke opened #3946 "Duplicate 'vim' entries on the main page"
![image](https://user-images.githubusercontent.com/22756345/83461177-65bc7a80-a43e-11ea-9d60-0fd2532fd1d1.png)

The first entry links to https://learnxinyminutes.com/docs/el-gr/vim-gr/

And the second one links to https://learnxinyminutes.com/docs/vim/

Notice how on the first 'vim' entry row, there is no `gr-el` option to be clicked on.

Upon entering the first vim link, the greek(?) vim doc page

[2020-06-13 20:33] JanPokorny opened #3956 ""Pascal" has multiple entries on the homepage"
"Pascal" has multiple entries on the homepage. Apparently the second one is for the Russian language.

![obrazek](https://user-images.githubusercontent.com/4580066/84578472-d3b15c00-adc5-11ea-9a1d-1c6bcf408a72.png)

[2020-06-15 07:49] vibhanshup opened #3958 "[typescript/en] incorrect syntax in dist override inheritance example"
## Is this a major issue that you cannot fix?
No

**Being a community driven documents of languages and tools,"YOUR" contributions
are also important.
If the issue you're reporting is trivial to report to maintainers why not contribute
to fix it. In that way, you will have contributed to an awesome open-source project.
The changes can be typo fix, fixing of data in examples or grammar fix. If you

[2020-06-20 18:12] trukker41 opened #3961 "PLOT FUNCTION"
## Is this a major issue that you cannot fix?
IT would be really cool if you could tell  PLOT WHERE the AXES intersect like y=0 and x=0
**Being a community driven documents of languages and tools,"YOUR" contributions
are also important.
If the issue you're reporting is trivial to report to maintainers why not contribute
to fix it. In that way, you will have contributed to an awesome open-source pr

[2020-07-07 10:37] #3946 closed

[2020-07-08 10:17] #3961 closed

[2020-07-08 10:22] #3958 closed

[2020-07-16 20:31] KaziFarhanuddin opened #3977 "[python/en] There is a wrong output comment"
Hi everyone !

There is a wrong output comment in python.html.markdown, at line 950

The class used to create the object is **Batman**

But when **get_species()** is called on the object, the comment says the output is **Superhero** where as the correct output is **Batman**

[2020-07-17 13:51] #3675 closed

[2020-07-25 22:06] steelbrain opened #3984 "[csharp/en] No documentation on sealed classes"
The [C# docs](https://learnxinyminutes.com/docs/csharp/) don't explain `sealed` classes, so this is a tracking issue to fix/add them to the docs

[2020-07-31 11:26] vivanwin commented on #3115
Hi,

I can have a go at this, if this is still wanted.

[2020-08-05 13:23] #3977 closed

[2020-08-08 18:56] kevinnls commented on #3894
hi @mxschumacher
it seems like @Carl20cent hasn't been active for quite a while. is it okay if i make the change?
@Carl20cent i hope you won't mind

[2020-08-08 19:01] kevinnls commented on #3811
hi @imba-tjd
has this issue been resolved?
if not, could you please provide line numbers of the source code that are not being rendered

[2020-08-08 19:34] kevinnls commented on #3514
all page titles have now been reformatted to display `X=[language]` as the subtitle
so close #3514 can be~

[2020-08-09 00:43] imba-tjd commented on #3811
Still exists.
https://github.com/adambard/learnxinyminutes-docs/blob/master/zh-cn/markdown-cn.html.markdown#L268

[2020-08-09 04:47] kevinnls commented on #3811
could you please provide line numbers?
i can only read French of the three languages you have pointed out.

editing the source files on your fork on GH web or opening a local copy of the file in any text editor should give you line numbers

[2020-08-09 04:49] imba-tjd commented on #3811
L268. See the anchor of the above link

[2020-08-09 04:52] imba-tjd commented on #3811
or you can search "link1". There should be more than 1 appearance

[2020-08-09 05:43] kevinnls commented on #3811
thanks. i'll look into it

[2020-08-09 11:25] imba-tjd commented on #3811
Not at all. I just realized by default there **isn't** a "Display the source blob" button and the anchor I gave won't auto-scroll to the position. It's because I installed a browser extension (Refined GitHub).

![图片](https://user-images.githubusercontent.com/24759802/89730919-a60b2b00-da75-11ea-89b1-83cf7361ae95.png)

[2020-08-09 13:10] kevinnls commented on #3811
ooo fancy.
_adds it to list of things i've swiped from you along with [stats card](//github.com/anuraghazra/github-readme-stats)_
***
anyway, i made the changes on `fr-fr` but i'm not able to figure out how to do it for `zh-cn` i tried making the changes, but it breaks other portions of the page. i feel i may be missing some portion of the code because i'm unfamiliar with the script

so here's the

[2020-08-09 13:49] imba-tjd commented on #3811
Unfortunately I'm not able to give you a review because I have little knowledge about frontend. But  I don't think the source file needs changing unless there is indeed a markdown issue. So I won't choose your way to fix this. 😢

[2020-08-09 13:53] kevinnls commented on #3811
i copied the 'formula' from the English version

[2020-08-09 13:57] imba-tjd commented on #3811
Oh well then I think it's acceptable.

[2020-08-09 14:04] kevinnls commented on #3811
there seems to be something wrong with the backend, which is in ruby, which i don't know

i have no idea. but i think it'd be in the [site repo](//github.com/adambard/learnxinyminutes-site) and something to do with how

[code]

is rendered

`it-it` also started breaking when i tried the fix

[2020-08-09 19:36] mxschumacher commented on #3894
hey @kevinnls - sure feel free to create a PR. if you ping me in it, I can take a look

[2020-08-10 14:07] kevinnls commented on #3894
hey @Carl20cent good to see you're back! \
would you like to make the contribution? 😃 \
les nouveaux contributeurs sont toujours bienvenu !

[2020-08-10 17:20] #3956 closed

[2020-08-19 08:33] uvtc opened #4000 "The new Janet page is 404"
PR #3998 for the new [Janet page](https://learnxinyminutes.com/docs/janet/) was recently accepted, and it's listed on [the homepage](https://learnxinyminutes.com/), but the specific page itself is not found on the site.

[2020-08-20 08:19] #3894 closed

[2020-08-20 10:10] kevinnls commented on #4000
@mxschumacher #4001 didn't fix it. sorry please reopen the issue

[2020-08-20 10:55] kevinnls commented on #4000
the problem is that [Pygments](https://pygments.org/) the syntax highlighting engine used by LXIYM doesn't yet have support for Janet.

i was able to build the page locally by simply **removing the explicit syntax declaration at ln18** but as expected, this leaves the code with generic syntax highlighting

i can't suggest any proper solution for this because i'm not sure how [LXIYM-site](//github.

[2020-08-20 11:07] kevinnls commented on #4000
attaching the error message for anyone interested

#### MentosError at /docs/janet/
[code]

[2020-08-20 18:06] uvtc commented on #4000
I know that rouge supports Janet. Is there any compatibility between rouge and pygments?

[2020-08-20 18:34] kevinnls commented on #4000
@uvtc being the author of the issue, are you able to reopen it?

[2020-08-20 18:39] uvtc commented on #4000
Hi @kevinnls , thanks. No, I don't see a way I can re-open this issue.

[2020-08-20 18:49] kevinnls commented on #4000
i'm sure @mxschumacher will reopen soon. no worries. we'll get to a solution asap. again, thanks for the contribution!

i only got as far as the intro but i loved it

[2020-08-24 02:35] uvtc commented on #4000
Submitted the PR for Janet support in pygments.

[2020-08-30 21:40] Mouvedia opened #4005 "[Request] [zig/en-us]"
website: https://ziglang.org/
documentation: https://ziglang.org/documentation/master/
repository: https://github.com/ziglang/zig/

[2020-09-13 03:39] sburris0 commented on #3847
Doesn't appear to be blocked anymore.

[2020-09-24 17:00] #3732 closed

[2020-09-29 12:04] srinidhibs commented on #2280
May I know what happened to this issue? Looks like the `svn.html.markdown` file is no longer available in the fork of @wboka.

[2020-09-29 12:51] #3811 closed

[2020-09-29 18:37] wboka commented on #2280
Honestly with the popularity of Git, I stoppped working on it almost immediately. Feel free to start a page if you want.

[2020-10-09 03:35] thegeorgeous opened #4034 "Dynamic Programming article is simply a list of bookmarks and very little content"

[2020-10-11 13:19] kevinnls commented on #4000
@mxschumacher until the new lexer and the next release of Pygments, i think we need a quick fix to un-404 this page...

@uvtc we could perhaps change the explicit syntax highlighting to something similar/something plain (is there one?) and add a line about syntax highlighting being in the works. what you think?

[2020-10-16 06:16] #3847 closed

[2020-10-16 18:49] sburris0 commented on #3546
Item number two has been fixed

[2020-10-29 09:14] planetis-m opened #4052 "Re-join hacktoberfest please?"
Sorry to be that guy, but a week ago (at least at the time I submitted my PR) this repo had `hacktoberfest` tag, but now my pr shows as ineligible. Since then I made another 6 PRs to other repos (not trivial) so it's not an issue for me, just wondering.

[2020-11-05 09:16] lolosssss opened #4053 "Missing some translated file"
There is only one language for rust: el-gr. But actually the article has been translated to many other languages, like zh-cn, fr, it.

Maybe it's an issue of site configuration?

[2020-11-05 13:50] #4052 closed

[2020-11-09 02:57] lolosssss commented on #4053
Some `language` in markdown are uppercase, some are lowercase.
So the code can't add the all correct language when `add_translation`.

[2020-11-11 07:58] aolko opened #4055 "[Request] [SDLang/en]"
Documentation/Tooling/Website: https://sdlang.org
Repository: https://github.com/sdlang-dev/SDL

[2020-11-12 05:33] quantomistro commented on #526
I really love the addition of these new topics! But, I think the category name of "Algorithms & Data Structures" doesn't fit these topics very much. Maybe something like "Theory"? The topics focus more on CS theory, rather than just algorithms & data structures.

[2020-11-16 19:54] Yam76 commented on #4000
You can probably bootleg the clojure or common lisp highlighting and just mention that Janet syntax highlighting hasn't arrived yet.

[2020-11-16 23:50] uvtc commented on #4000
I'm sorry to have dropped the ball on this. Work got extremely busy and my git-fu is not very strong, and so I haven't finished the changes requested for the pygments lexer. It's basically ready except for a minor tweak that was requested, as well as a test.

[2020-11-16 23:53] uvtc commented on #4000
Currently stalled at https://github.com/pygments/pygments/pull/1519 until I can make more time to return to this, or until someone else picks it up and finishes it up.

[2020-11-18 09:28] erwan-b opened #4059 "[en/rust] macro example"
I am new to rust and i didn't find the typo of macro in the page.
There should be at least one example, at least  to know it exist.

Here is  the rust doc about it [link](https://doc.rust-lang.org/rust-by-example/macros.html)

[2020-12-27 02:53] Mouvedia commented on #4005
I started working on this one. I am 30% done; should I open a draft PR?

[2021-01-06 13:00] FrankYangG opened #4081 "Scala/trait"
After we define a trait `Dog` and implement the `Dog` by `SaintBernard `, we should new a object `b` instead of miss it.
We should add below script before `b`:
[code]

[2021-01-07 17:56] Samasaur1 commented on #3565
Nope, what's there is correct. `makeIncrementer()` returns a closure, and closures don't have or allow argument labels.

[2021-01-07 18:03] Samasaur1 commented on #3565
(I tested this on Swift 5.3.2, 5.1.3, 5.0.3, 4.2.4, and 4.0.3)

[2021-01-08 13:23] lukepighetti commented on #3565
Let's close this then.

[2021-01-08 13:23] #3565 closed

[2021-01-14 09:49] perseoGI commented on #3493
How is it going?

[2021-01-28 22:56] LamdaLamdaLamda opened #4093 "[en/rust] Function pointer types"
As mentioned in the title I would like to see function pointer types. Described in the manner of: [Function-Pointer-Types](https://doc.rust-lang.org/reference/types/function-pointer.html).
Of course not just for the EN version.

[2021-02-04 23:44] LamdaLamdaLamda opened #4105 "[en/rust] Emphasize the difference between &str and String."
The difference between a heap allocated `String` and a Slice `&str` is not emphasized properly.
As already mentioned a `String` is a heap allocated String. In addition it should be clearly emphasized, that a `String` is a vector of bytes and always holds a valid UTF-8 sequence. Its growable and does not hold a null termination character!

When it comes to `&str`  I miss a comment about the fact, t

[2021-02-06 16:15] LamdaLamdaLamda commented on #4093
Implemented in #4107.

[2021-02-24 21:43] azev77 opened #4116 "Introduce copy()"
I think this will be relevant for many new Julia users, especially those coming from Matlab/Octave...
[code]

[2021-02-26 09:35] earizon opened #4126 "[Request] Add link to related projects"
Consider adding a link in README.markdown to next related projects:

- TLDR: https://github.com/tldr-pages/tldr  (avoid long man pages and go to the point)
- https://github.com/SinglePageBookProject/IT_notes (cheat sheets with steroids)

[2021-03-06 05:41] sburris0 opened #4134 "[lbstanza/en] LB Stanza 404s"
https://learnxinyminutes.com/docs/lbstanza/ 404s.
I'm guessing this is because Pygments doesn't have a lexer for it.

[2021-03-13 22:10] ratfactor commented on #4005
@Mouvedia I should be able to lend a hand in a bit if you could use one? ✋

[2021-03-14 00:51] Mouvedia commented on #4005
@ratfactor check discord

[2021-03-16 20:21] bnainar opened #4144 "Use monospace fonts for codeblocks"
*No description provided.*

[2021-04-05 17:50] LouisJustinTALLOT opened #4150 "[jquery/en] code does not appear as code"
In the [jQuery tutorial](https://learnxinyminutes.com/docs/jquery/), all tutorial code appears as simple text, losing all formatting. I have checked the corresponding markdown file and it is correct, so the problem is directly in the website :(

[2021-04-12 03:58] ameybhavsar24 commented on #4144
@bnainar Monospace is already being used for code blocks. This issue can be closed.

[2021-04-12 15:42] #4144 closed

[2021-04-14 10:32] NicolasHov opened #4155 "[rust/fr] Update French Rust tutorial"
French tutorial could use some updates in formulations

[2021-04-20 16:20] totongcute opened #4159 "."

[2021-05-03 07:41] GilDev commented on #4005
Any news? 🙂

[2021-05-03 15:57] Mouvedia commented on #4005
@GilDev https://github.com/Mouvedia/zig-examples
Ill finish it eventually.

[2021-05-05 16:25] jaawerth commented on #4000
@uvtc For what it's worth, I'm not familiar enough with janet to know all the syntactic differences and what possible edge cases they might cause with pygments, but:

As a temporary workaround to get this unblocked, it might be worth trying the same trick both [janet](https://github.com/janet-lang/janet/blob/c3f770da27107d2d9f13e81e199d277799b12b68/.gitattributes) and [fennel](https://github.com/b

[2021-05-06 08:19] EigenVecta opened #4162 "[Dynamic Programming] Consider Deleting reference to "Floyd Warshall Algorithm - Tutorial and C Program source code" (http://www.thelearningpoint.net/computer-science/algorithms-all-to-all-shortest-paths-in-graphs---floyd-warshall-algorithm-with-c-program-source-code)"
Because the algorithm present there is wrong

[2021-05-23 20:26] qpwo opened #4169 "Idea/FR: "Exercise Mode""
_(Warning: This idea / feature request would be a lot of work. I'm aware this is a community-driven project. I expect this issue to be closed.)_

Idea: An "Exercise mode" toggle at the top of every learn page. When toggled on, it turns all non-comment code into textboxes. When you type into a textbox and hit enter, it gives you the diff between what you typed and what was there. Diffs can be naive

[2021-05-23 20:36] qpwo commented on #4169
Attempted sketch of the idea:

![exercise-mode](https://user-images.githubusercontent.com/10591373/119275773-f4dd1800-bbe4-11eb-8f0e-3b9739bb0a75.png)

Another thought on the interface: Press enter once to see a diff, press enter again to see the original text.

[2021-06-14 12:00] CoolOppo opened #4177 "[hdl/en] "hdl" is not a specific language"
The [page on hdl](https://learnxinyminutes.com/docs/hdl/) is great to have, but it's a bit confusing to me because HDL is not a language; it's a family of languages--VHDL and Verilog being what someone is referring to the overwhelming majority of the time when they say "HDL". There is no mention of either VHDL or Verilog on the page itself, but in the resource links at the bottom, there is of cour

[2021-06-14 12:04] CoolOppo commented on #4177
pinging @jsmithtech2019 because he made the page

[2021-06-24 21:28] m2cci-mohammed-djerida opened #4182 "[C/english] a typo maybe in the do {}while"
in C, it says :
[code]
I think it should say "uses the current value of kk before incrementing" instead.

[2021-06-26 14:48] ad-si opened #4184 "Split listing into "Active" and "Archive""
I was just browsing through the languages and a few of them are basically dead and I think this should be communicated. E.g. whip hasn't seen any development in 8 years. My suggestion would be to split the landing page in 2 sections "Active" and "Archive", where only the languages with changes in the last year (2 years ?) or are known to be still actively maintained are listed under Active.

What

[2021-07-02 23:58] AussieSmitty opened #4185 "1to12"
In the learn Forth in sixty minutes material, under loops, an example shows the use of the index i
The word 1to12 is shown and the result when run has 0 to 12 on the stack.
This is incorrect
The word should be 0to11 as the stack result is actually 0 to 11

[2021-07-13 15:25] kieutrang1729 opened #4189 "Include French translations on the homepage"
I recently added a French translation to the set theory article, but a link to it does not appear on the homepage like it should. There is also a French translation of the Rust page (4 years old) which also does not appear. Is there a page where we need to add the links manually?

[2021-07-16 12:02] nibudd opened #4191 "[Set theory/set-theory] typo"
on the set [theory page](https://learnxinyminutes.com/docs/set-theory/) under `Basic Symbols`/`Operators` point 4 describes the _compliment_ operator, but should describe the _compl**e**ment_ operator

[2021-07-16 12:11] nibudd commented on #4191
addressed in this pull request https://github.com/adambard/learnxinyminutes-docs/pull/4192

[2021-07-20 02:26] xxx50236 opened #4197 "How to use Symbols"
Please give the example of using symbol

[2021-07-20 12:40] Blopez10 opened #4198 "ShAwTy"
## Is this a major issue that you cannot fix?

**Being a community driven documents of languages and tools,"YOUR" contributions
are also important.
If the issue you're reporting is trivial to report to maintainers why not contribute
to fix it. In that way, you will have contributed to an awesome open-source project.
The changes can be typo fix, fixing of data in examples or grammar fix. If you fou

[2021-08-06 11:44] imba-tjd commented on #4182
Hi. Why. I don't think so.

[2021-08-06 11:53] m2cci-mohammed-djerida commented on #4182
@imba-tjd hello,
because it is a "do while" loop, and the print is before the ++k so it uses kk before incrementing,
say we initiate kk to 0, 0 will be printed and then incremented.

while the comment says " Increments kk BEFORE using its current value", so it is not before, I think it should say AFTER.

[2021-08-06 11:58] imba-tjd commented on #4182
Well, it's indeed a bit confusing.
It's correct that ++kk firstly increse k then use k.
The print starts from 0 is because printf is before ++k.

[2021-08-06 12:03] m2cci-mohammed-djerida commented on #4182
oh I see, I just noticed that the comment meant the "++k" specifically and not the do-while loop 🙊
my bad
thank you

[2021-08-07 12:12] imba-tjd opened #4207 "Request to be a collaborator"
Hi @adambard I'd like to merge those zh-cn PRs. Although I can't review them very carefully, but I think something is better than nothing.

[2021-08-08 04:33] adambard commented on #4207
Your proposal is accepted! Please do your best.

[2021-08-08 04:37] imba-tjd commented on #4207
:+1: Thanks, I will

[2021-08-08 04:37] #4207 closed

[2021-08-08 06:37] SlimeNull opened #4208 "Content error, Learn X in Y minutes, X = GO, ZH-CN"
The title:
    "Y = GO" // wrong, should be "X = GO"

[2021-08-08 07:28] inkydragon commented on #4208
This is a site template issue, not go

But it's very strange, deployed version do not match the template

[code]
https://github.com/adambard/learnxinyminutes-site/blob/master/data/i18n.yaml#L45-L47

[2021-08-08 08:53] imba-tjd commented on #4208
For now the zh-cn version in the website is `X分钟速成Y`, which the XY are reversed. So it's OK to say `Y = GO`.

As for the template, I also don't know. For example the translation of `light` and `dark` are wrong in the site. But it's correct in the `learnxinyminutes-site/blob/master/data/i18n.yaml`.

[2021-08-08 20:50] darigovresearch opened #4211 "[BUG] [vim/en] Greek download .txt file instead of english"
When clicking the LearnVim.txt file at the top of the page it links to a .txt file which is in Greek. Couldn't find the source file and now sure how this file is generated to make the relevant corrections from the current version of the file.

Happy to make a pull request if given advice on how this file is generated and where to make the pull request

![image](https://user-images.githubuserconten

[2021-08-10 01:56] Alsabti5810 opened #4212 "1"

[2021-08-20 21:13] stevermeister opened #4218 "Offline mode"
## Service Workers

It would be really great to implement service workers that would allow using resources in offline mode (for example in a plan)

I would be happy to hep you if you guide me where should I put my changes

[2021-08-21 21:48] Menelion commented on #4212
Has no valid content, closing.

[2021-08-21 21:48] #4212 closed

[2021-08-22 09:22] Menelion commented on #4211
@darigovresearch Thanks for reporting this! I tried to fix it in #4220. If that's enough, I'll merge it as soon as possible.

[2021-08-22 14:51] #4211 closed

[2021-08-24 01:08] awschult002 commented on #4182
should this issue be closed then? Or would some added clarity be recommended. As it stands, there is nothing wrong with the statement in the code. However, I could see some added clarity that a `do while{}` loop executes one time before evaluating the condition.

[2021-08-24 01:10] m2cci-mohammed-djerida commented on #4182
Yes sorry… thank you

[2021-08-24 01:10] #4182 closed

[2021-08-24 01:40] #4208 closed

[2021-08-28 09:45] darigovresearch commented on #4211
@Menelion & @adambard thanks for taking a look at this, it appears that the download link above is still in Greek, the expectation is to download the English version of the file when on the English page

Is there a reason why this is still the case after the merge of the pull request?

[2021-09-05 09:21] Nungza1977 opened #4229 "Consult a law firm"
[รวมทุกบริษัท จำกัด.pdf](https://github.com/adambard/learnxinyminutes-docs/files/7111319/default.pdf)
## Is this a major issue that you cannot fix?

**Being a community driven documents of languages and tools,"YOUR" contributions
are also important.
If the issue you're reporting is trivial to report to maintainers why not contribute
to fix it. In that way, you will have contributed to an awesome o

[2021-09-05 10:22] Nungza1977 commented on #4229
ขอบคุณครับ

[2021-09-09 08:00] Stateofminf opened #4231 "?"
## Is this a major issue that you cannot fix?

**Being a community driven documents of languages and tools,"YOUR" contributions
are also important.
If the issue you're reporting is trivial to report to maintainers why not contribute
to fix it. In that way, you will have contributed to an awesome open-source project.
The changes can be typo fix, fixing of data in examples or grammar fix. If you fou

[2021-09-09 08:02] Stateofminf commented on #4231
Sqrl

[2021-09-09 22:44] Stateofminf commented on #4231
EXS3 G4CI S7K3 Y2WX NFD5 4JGQ R4AV OFA7

- [ ] ``

[2021-09-09 22:44] Stateofminf opened #4232 "EXS3 G4CI S7K3 Y2WX NFD5 4JGQ R4AV OFA7"
EXS3 G4CI S7K3 Y2WX NFD5 4JGQ R4AV OFA7

- [ ] ``

_Originally posted by @Stateofminf in https://github.com/adambard/learnxinyminutes-docs/issues/4231#issuecomment-916490408_

[2021-09-11 10:17] #4229 closed

[2021-09-11 10:34] #4231 closed

[2021-09-11 10:35] #4232 closed

[2021-09-11 10:58] Stateofminf commented on #4232
Codeql

On Sat, Sep 11, 2021, 5:35 AM Andre Polykanine ***@***.***>
wrote:

[2021-09-21 05:59] jameszhang-a commented on #1253
Can I work to just replace all of the `var`'s with `let` and `const`. Since, to my knowledge, in most cases today, using `var` is bad practice. Given that the majority of the guide uses `var`, it might lead beginners down some headaches. There's also no mention of classes for OOP.

I also don't see the point in separating ES6 and <ES6 anymore. I propose the whole document be re-written in modern s

[2021-09-21 06:32] adambard commented on #1253
@jameszhang-a I agree with this, it's time.

[2021-10-06 04:52] ThisNekoGuy opened #4241 "[Request] [V/en-us]"
For reference: https://vlang.io/

[2021-10-06 05:09] ThisNekoGuy opened #4242 "[Request] [GDScript/en-us]"
For reference: https://docs.godotengine.org/en/stable/getting_started/scripting/gdscript/index.html

[2021-10-06 05:14] ThisNekoGuy opened #4243 "[Request] [Z80-ASM/en-us]"
A page for Z80 assembly

[2021-10-06 05:24] ThisNekoGuy opened #4244 "[Request] WINE Development"
[Wine](https://www.winehq.org/) is mainly a C project (with code that deviates via rare exceptions), and C is already available to learn on the site, however for younger/new developers who might have tried to learn C with the sole purpose of developing for Wine (due to it being the original goal), Wine's old code-base and potentially strict methodologies can make acclimating to becoming a Wine con

[2021-10-06 05:39] ThisNekoGuy opened #4245 "[Request] UNO Platform"
For reference: https://platform.uno/
(Utilizes XAML)

[2021-10-06 13:27] ogroleg opened #4246 "Hacktoberfest?"
Hi guys, do you participate in Hacktoberfest this year? I'm looking for some cool repository to contribute during Hacktoberfest, and it would be cool to spend more time on your repo.

[2021-10-07 22:47] Menelion commented on #4246
I might be wrong, but because of previous year's spam attack other maintainers decided to step down. Am I right, @adambard?

[2021-10-18 19:40] adambard commented on #4246
Nothing quite so formal, but in previous years, hacktoberfest has tended to result in a lot of low-quality drive-by PRs ("Fixed typo", etc.). If you turn your attention to the nav bar, you can see that we clearly don't have the capacity to handle the PRs that we do have, so this is the last thing we need or want.

Now, if Hacktoberfest could incentivize people to review and manage PRs it would be

[2021-11-01 21:28] Menelion commented on #4242
Implemented in #4261.

[2021-11-01 21:28] #4242 closed

[2021-11-10 00:18] roptat commented on #4189
rust has `Rust` as its English title but `rust` as its French title; set-theory has the same title in both languages, but a different category. Could that be the issue?

[2021-11-21 08:03] kaatt commented on #4005
Also looking for this!

[2021-11-25 05:41] vasanthaganeshk opened #4277 "[Request] [Autohotkey/en-us]"
This is a request for creating a page on [Autohotkey](https://www.autohotkey.com/)

[2021-11-27 14:14] Menelion commented on #4277
I'd also love to see such a tutorial but, I guess, I have no time to do it myself. Would be nice to have it.

[2021-11-30 16:29] b3s23love opened #4278 "Page crashing on Android"
@adambard @Menelion Hi, I am using a Android 10 device and want to use your page but it crashes Chrome. Could you fix this?

[2021-11-30 22:24] AndrewDiMola opened #4279 "[en/hack] metrics on page views"
Hey team, I work on the official documentation for the Hack language, found here: https://hacklang.org/, and here: https://docs.hhvm.com/hack/.

Is there any way to see the number of page views over a range for https://learnxinyminutes.com/docs/hack/?

The page was written about 6 years ago and is a bit out of sync. Planning to rewrite it and make a pull request but I was also hoping to be able to

[2021-12-07 06:26] adambard commented on #4278
I don't have a clue with this one guys. I've been up in every debugger I can find (ok, just chrome remote and adb) and it's all boring stuff in there, save a . It's a pretty obvious crash though!

* I thought at first it was just russian articles, but checking again tonight it's definitely all docs (but not the home page!)
* It's not a straight crash, but a freeze, which will timeout into a crash

[2021-12-07 11:40] JakubDrozd commented on #4278
Ok, thank you!

[2021-12-11 22:48] JakubDrozd commented on #4278
Hi, I have forgot one thing: I have enabled the Chrome 100 flag, so please try the debugging with the flag enabled.

[2021-12-19 14:37] reverendhomer opened #4290 "[objective-c/en] Couple of inconsistencies"
I've found a couple of issues in the given code that I can't fix myself due to lack of skill in Objective-C and/or not getting the authors' intention in some particular parts of the code. If anyone gives any hints, I'll be happy to fix this myself.

- [ ] `MyClass` contains a couple of variables both in declaration and implementation:
[code]
However, since these are not properties, XCode is gettin

[2021-12-19 14:46] reverendhomer commented on #4290
Extension example also confuses XCode quite a bit:
<img width="1202" alt="image" src="https://user-images.githubusercontent.com/4062234/146679148-00acbe2b-b930-4140-a0df-c024499bce3e.png">

Also, the return type of the overloaded function is also missing the asterisk.

[2021-12-22 13:17] rinetzky opened #4292 "Possible typo in mips"
Shouldn't
lw $ra, ($sp)
be
lw $ra, 4($sp)
in the fact_done example?

[2021-12-27 03:55] KaneRoot commented on #4005
Hello everyone.

I also started to work on it and end up pushing a PR: https://github.com/adambard/learnxinyminutes-docs/pull/4293

@Mouvedia I read your version. It was both too exhaustive and not enough explained for me.
For example, I like a few things you want to introduce, like the unrolling of "for" at compile-time. Having the possibility to print every elements of a structure at compile-tim

[2021-12-27 04:41] Mouvedia commented on #4005
…thanks?

Godspeed.

Ill let you do your thing.

Do it for the `0.9.0`; mine was for the `0.7.1`.

[2021-12-28 02:54] KaneRoot commented on #4005
Yep, I tested my examples (most of them at least) with the latest 0.9.0 version.

Based on your document:
- I explained the 3 different types of comments, which I firstly didn't think about;
- I reused your example of switch with a range as a pattern;
- I reused an example of union;
- I reused your idea of cardinal directions.
Even being generous, that's about 25 lines for a page that is 980 lines

[2021-12-29 06:39] no-waves opened #4296 "[bf/en] bf-visualizer link 404s"
The brainfuck-visualizer link to https://fatiherikli.github.io/brainfuck-visualizer/ on the page https://learnxinyminutes.com/docs/bf/ 404s

[2021-12-29 18:09] digimeas commented on #3514
Hi!  Except for (at least) qt still says c++. Its "language: c++".

[2021-12-31 15:58] kevinnls commented on #3514
my sincere apologies @ode79 and @MikaelK98
i had earlier misunderstood what you were pointing out
(confused between <title> and heading)

thank you @digimeas for bringing this back up! 😃

#4298 should fix this when merged

[2021-12-31 16:03] kevinnls commented on #4278
seems like it was resolved at some point
(might have been a Chrome bug, maybe?)

@JakubDrozd could you please confirm if you are still facing this issue?

[2021-12-31 16:06] JakubDrozd commented on #4278
I am still facing it. Check also the Chrome 100 flag, because I have enabled it.

[2021-12-31 16:15] kevinnls commented on #4278
the flag `#force-major-version-to-100` ?
i just tried again with that turned on, still can't seem to replicate hmmm

the thing is ... i recall having faced an issue a few days back, but i didn't think much of it. thought it was my phone acting up and just scrolled slowly, but now it seems fine... :/

| device | info |
| :-- | :-- |
| Google Chrome	| 96.0.4664.104 (Official Build) (32-bit) |
| Revi

[2022-01-03 17:35] geoffliu commented on #3546
Hi @obscurecolin, late to the party but wanted to give a +1 to most of the points here. As LXIY is meant to be a guide for programmers who are stepping into a new language, the nuances of that language is certainly crucial.

One point of disagreement: `endl` is more than `\n` with a flush. It's also platform dependent (Windows vs. *nix) and preferred for that reason. Admittedly I haven't touched C

[2022-01-04 13:02] obscurecolin commented on #3546
I don't think `std::endl` will have much of an observable difference in common practice, especially for the beginner snippets from the LXIY article. I'm not sure, I just know that I seldom use it and, when I do, it's explicitly for the desired intent of also flushing (usually not with the standard streams either). However, I will concede that it's a rather pedantic point.

I actually don't believe

[2022-01-17 19:56] jrwrigh commented on #4278
I can confirm that it is also happening to my phone as well. Homepage opens up fine, but every language page freezes.

Android Version: 12
Build Number: SQ1A.220105.002

[2022-01-28 07:44] darigovresearch opened #4311 "[vim/en] Typo"
There is a typo `occerence` which should be fixed to `occurrence `

[2022-01-30 14:28] sambarvadai opened #4314 "[Correction] - Gitguys link on Git page redirects to a site called GoGoPdf"
Hello all,

I was checking the page for learning more about Git.  I clicked on one of the "Further information" links and found out that the link for "GitGuys" redirected to a site called GoGoPDF. Can this link be checked or removed from the page?

[2022-02-04 13:51] JamesC01 opened #4318 "[java/en] Consider adding 'Think Java' to book list"
This book https://greenteapress.com/wp/think-java/ seems quite good, and it's free. While it seems high quality, I'm not really an expert, so I'm not sure, so you might want to skim it yourself.

[2022-02-08 18:16] anthonysidesap opened #4320 "Silencer"
For any issues contact me direct ajshotwheels@yahoo.com

[2022-02-18 12:48] apfeltee opened #4328 "OCaml page listed twice"
The greek translation of the OCaml page is errornously displayed twice, but I think it's meant to be displayed as a language tag.
It links to [/docs/el-gr/ocaml-gr/](https://learnxinyminutes.com/docs/el-gr/ocaml-gr/).

This is really minor, and I'm sorry to say that I'm not sure where it would be 'correctly' filed.

[2022-02-23 07:06] uvtc commented on #4000
Since the Janet page is currently using Python syntax highlighting and no longer 404, closing this.

At some point, when Pygments has Janet support, will just change the syntax-hl directive in the doc to use Janet instead of Python.

Thanks all!

[2022-02-23 07:06] #4000 closed

[2022-02-23 11:51] imba-tjd commented on #4328
I have added the `lang` header in https://github.com/adambard/learnxinyminutes-docs/commit/ad760a7adf9460ba1b6e4514d7fdabe743e5943e. Though this issue still exists.

[2022-02-24 15:32] sigzero opened #4334 "TOML needs updating"
The text says the following:

Be warned, TOML’s spec is still changing a lot. Until it’s marked as 1.0, you should assume that it is unstable and act accordingly. This document follows TOML v0.4.0.

TOML 1.0 was released Jan 12, 2021. So this learnxinyminutes needs updating.

https://learnxinyminutes.com/docs/toml/

[2022-03-10 12:37] avelican commented on #4328
Yeah, there's two links and the first one is in Greek! At first I thought something had gone wrong with the character encoding :)

[2022-03-17 08:32] pavinduLakshan opened #4345 "[Request] [Ballerina/en-us]"
website: [ballerina.io](https://ballerina.io/)
documentation: [ballerina.io/learn](https://ballerina.io/learn/)
repository: [ballerina-platform/ballerina-lang](https://github.com/ballerina-platform/ballerina-lang)

[2022-03-18 12:39] andrewcrook opened #4346 "[Request] AppleScript"
Might be useful can anyone please add this?

[2022-03-18 12:45] andrewcrook commented on #4346
The JavaScript version might also be useful to people.

[2022-03-19 21:12] popeda97 opened #4349 "content/actions/creating-actions/creating-a-docker-container-action.md"

[2022-03-20 12:06] Menelion commented on #4349
Please provide a thorough description, otherwise the issue will be closed.

[2022-03-24 04:35] ElectricRCAircraftGuy opened #4352 "[Request] [language/sd-bus]"
I'd like to see a tutorial/demo for the sd-bus IPC (Intper-process Communication) protocol on Linux.

I'm still trying to figure it out myself.

Resources to get started:
1. https://en.wikipedia.org/wiki/D-Bus
2. [[A list of available D-Bus services](https://unix.stackexchange.com/questions/46301/a-list-of-available-d-bus-services)](https://unix.stackexchange.com/a/46309/114401)
3. \*\*\*\*\*sdbus

[2022-03-24 04:37] ElectricRCAircraftGuy opened #4353 "[Request] [language/g-code]"
I'd like to see a tutorial for g-code, which is used for CNC machines and 3D printers.

If you need a syntax highlighter while writing it, use mine for Sublime Text here: https://github.com/ElectricRCAircraftGuy/sublime_gcode.

I don't know gcode yet myself. That's why I'm writing the syntax highlighter--to at least make it easier to look at while I learn.

[2022-03-25 18:28] JakubDrozd opened #4355 "[Request] [assembly languages/en-us]"
Would like to add assembly languages

[2022-03-25 18:33] #4355 closed

[2022-04-02 16:18] harens commented on #4241
There's a V community version: https://github.com/v-community/learn_v_in_y_minutes

[2022-04-02 18:48] ThisNekoGuy commented on #4241
This already known, though, it's also acknowledged by the V community that the "official" community version is far outdated and unmaintained. I've already asked around about it.
------- Original Message -------
On Saturday, April 2nd, 2022 at 4:18 PM, Haren S ***@***.***> wrote:

[2022-04-06 06:24] Rhinostril opened #4366 "[Bug][jquery/en] Jquery contents not displaying correctly in english version"
### The english page of JQuery does not properly display it's javascript contents with highlighting
___

There seems to be no difference between the source code on github of the english page and one that does display correctly (such as the french page) hence i cant fix this myself.

forgive my use of light mode, this page without code block highliting is even worse in dark mode
![Knipsel](https://

[2022-04-08 07:06] Rhinostril commented on #4366
Attempted fix in pull request #4371

[2022-04-09 06:01] Jonatandb opened #4375 "[css/es] CSS web page broke"
1 - CSS/es home page link duplicated.
2 - CSS/es page is not working properly.

----

![image](https://user-images.githubusercontent.com/8082172/162558812-96c910de-01d3-4169-8219-f569fdeeb4c0.png)

---

![image](https://user-images.githubusercontent.com/8082172/162558769-4fc33827-77ef-478b-a7c4-4bc6ff0a53a3.png)

[2022-04-14 13:31] knpwrs opened #4377 "[Request] [fennel/en]"
I am not familiar with [fennel](https://fennel-lang.org/) but I would love a high-level tour of the language for anyone reading this who is familiar.

[2022-04-23 23:59] #4320 closed

[2022-05-05 20:19] heitorPB opened #4387 "[Request][btrfs/en]"
I just found out there is a page for [zfs](https://learnxinyminutes.com/docs/zfs/), under Tools.

I'd love to see a page for [Btrfs](https://en.wikipedia.org/wiki/Btrfs) in a similar style.

[2022-05-12 14:31] superherointj commented on #4328
I also stumbled upon this problem. Any idea on how to solve this?

[2022-05-19 09:23] fizietechD opened #4391 "Pull request"

[2022-05-26 16:18] martineizayaga opened #4398 "[scala/en] #4193 is in master but not on website"
The change (5e1e2a0a15e0e3005d29baebf43db84175991deb) is in master.
https://github.com/adambard/learnxinyminutes-docs/blob/835d077573fea060406ca6e5096779526ae96760/scala.html.markdown?plain=1#L484-L485

But the website doesn't show the change.

<img width="1008" alt="Screen Shot 2022-05-26 at 12 15 15 PM" src="https://user-images.githubusercontent.com/28035767/170529538-fd578655-da02-4ed7-8665-d16

[2022-06-05 18:46] Rekm33 opened #4402 "Big cockd fuck my arse dp dirtying wife"
## Is this a major issue that you cannot fix?

**Being a community driven documents of languages and tools,"YOUR" contributions
are also important.
If the issue you're reporting is trivial to report to maintainers why not contribute
to fix it. In that way, you will have contributed to an awesome open-source project.
The changes can be typo fix, fixing of data in examples or grammar fix. If you fou

[2022-06-05 18:46] Rekm33 commented on #4402
https://github.com/adambard/learnxinyminutes-docs/issues/4402#issue-1261130993

[2022-06-05 18:46] #4402 closed

[2022-06-05 18:47] Rekm33 opened #4403 "Big cockd fuck my arse dp dirtying wife"
## Is this a major issue that you cannot fix?

**Being a community driven documents of languages and tools,"YOUR" contributions
are also important.
If the issue you're reporting is trivial to report to maintainers why not contribute
to fix it. In that way, you will have contributed to an awesome open-source project.
The changes can be typo fix, fixing of data in examples or grammar fix. If you fou

[2022-06-05 23:42] Rekm33 commented on #4403
Dirty cougar

[2022-06-05 23:54] #4403 closed

[2022-06-17 15:37] momamahmok opened #4407 "Momahmok@gmail.com"
## Is this a major issue that you cannot fix?

**Being a community driven documents of languages and tools,"YOUR" contributions
are also important.
If the issue you're reporting is trivial to report to maintainers why not contribute
to fix it. In that way, you will have contributed to an awesome open-source project.
The changes can be typo fix, fixing of data in examples or grammar fix. If you fou

[2022-06-17 15:39] #4407 closed

[2022-06-23 12:54] andrewkibet commented on #4375
Ensure that you have the curly brackets

[2022-07-07 10:46] mribeirodantas commented on #2044
It's been moved to **Tools** some time ago. I'll close this issue.

[2022-07-07 10:46] #2044 closed

[2022-07-08 09:58] mribeirodantas commented on #4398
The website had not been updated in a while, but I talked to Adam and this is now fixed. Every hour the website will be updated based on changes in the master branch. Thanks for reporting!

[2022-07-08 09:58] #4398 closed

[2022-07-08 09:58] #4391 closed

[2022-07-08 10:01] mribeirodantas opened #4431 "[Request] [Nextflow/en]"
It would be great to have not only learning material on [Nextflow as a Domain Specific Language](https://www.nextflow.io/docs/latest/dsl2.html), but also the [Nextflow tool](https://www.nextflow.io/docs/latest/index.html).

[2022-07-08 13:02] #4311 closed

[2022-07-08 13:03] mribeirodantas commented on #4311
@darigovresearch You should have opened a Pull Request from your fork repository to this one and then someone would have merged. I just fixed this typo, but if you want to contribute in the future but don't know how to proceed, let me know and I'll be happy to help.

[2022-07-08 13:04] #4191 closed

[2022-07-08 13:06] mribeirodantas commented on #4314
Thanks for reporting this, @sambarvadai. I'll remove it.

[2022-07-08 13:13] #4314 closed

[2022-07-08 17:56] mribeirodantas commented on #140
I'll close this issue as currently there is a vimscript document.

[2022-07-08 17:56] #140 closed

[2022-07-08 18:00] mribeirodantas commented on #1839
Is there anyone around willing to do this task? :-)

[2022-07-08 18:16] jfahrenkrug commented on #1839
@mribeirodantas I'm happy to take this on (I was the one complaining about it four years ago hahaha).

[2022-07-08 19:01] mribeirodantas commented on #1839
That's great to hear, @jfahrenkrug! Let me know if you need any help. Feel free to ping me.

[2022-07-09 09:12] Psyhackological opened #4436 "[lua/en] en download link is the same as [lua/pt-br]"
## [lua/en] en download link is the same as [lua/pt-br]

### Problem
[[lua/en]](https://learnxinyminutes.com/docs/lua/) has the download link to [learnlua.lua](https://learnxinyminutes.com/docs/files/learnlua.lua) file.
[[lua/pt-br]](https://learnxinyminutes.com/docs/pt-br/lua-pt/) has the download link to [learnlua.lua](https://learnxinyminutes.com/docs/files/learnlua.lua) file.

### Explanation

[2022-07-09 11:48] #4436 closed

[2022-07-09 11:49] mribeirodantas commented on #4436
The website should be updated soon. Thanks for reporting ths, @Psyhackological.

[2022-07-10 07:35] cesarmorteo opened #4438 "ok"
## Is this a major issue that you cannot fix?

**Being a community driven documents of languages and tools,"YOUR" contributions
are also important.
If the issue you're reporting is trivial to report to maintainers why not contribute
to fix it. In that way, you will have contributed to an awesome open-source project.
The changes can be typo fix, fixing of data in examples or grammar fix. If you fou

[2022-07-10 09:55] Psyhackological commented on #4436
Thanks @mribeirodantas. Everything seems fine, but I found the same problem on `R language`.
[[r/en]](https://learnxinyminutes.com/docs/r/) has the download link to [learnr.r](https://learnxinyminutes.com/docs/files/learnr.r) file.
[[r/pt-br]](https://learnxinyminutes.com/docs/pt-br/r-pt/) has the download link to [learnr.r](https://learnxinyminutes.com/docs/files/learnr.r) file.

### First 36 lin

[2022-07-10 10:00] mribeirodantas commented on #4436
Thanks, @Psyhackological. I will fix this now.